<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<meta property="qc:admins" content="215554604065555633" />
<meta property="wb:webmaster" content="c37644b61fa6f970" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
</head>
<body>
<!--header begain -->
{{modules.Header(cuser,request.uri)}}
<!--TOP END -->
<div class="wp1000 cl mgt20">
	<div style="height: 220px;">
		<p class="chs" style="font-size: 100px; color: #3bb; font-weight: bold; text-align: center;">404! PAGE NOT FOUND</p>	
        <p  class="chs" style="font-size: 18px; color: #333; text-align: center;">你似乎迷路了，或者你查看的页面由于某种原因已经被删除或限制显示。</br>
        不如看看下面UE团队为你推荐的内容吧！</p>
	</div>		
</div>
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt20">
    	<div class="w200 z cl ue-left">
        	{{modules.UeDescribe()}}
        <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p">WORKS</p>
				</div>
				<ul class="cl yz-work-ul">
					{% for row in rows %}
					{{modules.WorkSearch(row)}}
					{% end %}
				</ul>
				<div class=" yz-idx-page">
					<a href="/works">
					查看更多<br>
					<span>VIEW MORE</span>
					</a>
				</div>
			</div>
			
		</div>
		<div class="w336 y cl">
            <div class="z cl yz-idx-right">
            	
				<div class="w336 yz-idx-title">
					<p class="z cl en1">RECORDS</p>
					<a class="yz-idx-report" href="/records">MORE</a>
				</div>
				<div class="mgt10 yz-idx-more">
					<ul class="cl">
                    	{% for i in ls %}
			{{modules.IndexRecordli(i)}}
			{% end %}
                    </ul>
				</div>
			</div>
			<div class="z cl yz-idx-goodwork w336">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">THEY ARE HERE</p>
					<a class="yz-idx-report" href="/professional">MORE</a>
				</div>
				<div class="ue-user-right-list">
					<ul>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt1.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt2.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt4.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt1.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt2.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt4.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt1.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt2.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt4.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt8.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt7.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="http://static.ueue.cc/www/img/common/avt.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">COMMENTS</p>
				</div>
				<div class="mgt10 yz-idx-more">
					<ul class="cl">
					  {% for j in rvls %}
					  {{ modules.IndexReviewli(j,'work') }}
					  {% end %}
					</ul>
				</div>
			</div>
			{{modules.MainRightAd()}}
			</div>
		</div>

	</div>

	<div class="cl"></div>
	<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>
	</div>

<!--footer begain -->	
{{modules.MainFooter(tips)}}
<script src="http://static.ueue.cc/www/js/jquery.event.move.js"></script>
<script src="http://static.ueue.cc/www/js/jquery.event.swipe.js"></script>
<script src="http://static.ueue.cc/www/js/unslider.min.js"></script>
<script type="text/javascript">
  if(window.chrome) {
  $('.banner li').css('background-size', '100% 100%');
  }
  
  $('.banner').unslider({
  arrows: false,
  fluid: true,
  dots: true
  });
  
  $('a[href^="#"]').click(function() {
  var target = $($(this).attr('href'));
  var pos = target.offset(); http:// fallback to scrolling to top || {left: 0, top: 0};
  if(pos) {
  $('html, body').animate({
  scrollTop: pos.top,
  scrollLeft: pos.left
  }, 1000);
  }
  return false;
  });
  var GoSquared = {acct: 'GSN-396664-U'};
</script>
<script src="http://static.ueue.cc/www/js/tracker.js"></script>	
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<!--footer end -->
</body>
</html>
