<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"> 
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/miniSlider.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
<style>
	.ue-album-tougao { padding: 20px 20px 0; line-height: 25px; font-size: 14px; color: #666;}
		.ue-album-tougao span { color: #3bb;}
		.ue-album-tougao a:hover { color: #999; text-decoration: underline;}
</style>

</head>
<body>
{{modules.SearchTag()}}
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
	  <div class="w200 z cl ue-left">
        	{{modules.UeDescribe()}}
        <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body  w640 z cl">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">专辑&amp;访谈</p>
                    <i class="search-tag" title="换个标签"></i>
				</div>
				<ul class="z cl yz-album-ul">
                	<li>
                    	<div class="ue-album-pic">
                        	<a href="http://www.ueue.cc/album/detail" target="_blank">
                            	<img src="http://static.ueue.cc/www/img/p_01_00.jpg" alt="30集都市青春励志剧《我不是北京妞》众筹"/>
                            </a>
                            <div class="ue_pic_info">
                            	<p class="ue-album-summary z cl">萃英文化是一家集影视剧投资、制作、发行、艺人经纪、广告代理、出版发行于一身的综合性影视文化娱乐公司，是紧把时代脉搏的影视传媒企业，凭借对现代社会传媒趋势及大众娱乐消费的深刻了解，是中国影视娱乐业的新生力量。</p>
                                <p class="ue-album-channel z cl">【人物】</p>
                                <span class="ue-album-up"></span>
                                <span class="ue-album-down"></span>
                            </div>
                        </div>
                        <div class="ue_album_pro">
                            <ul>
                                <li><var>53%</var><br/>已达</li>
                                <li><var>30</var>天 ￥<var>3,000,000</var><br/>目标</li>
                                <li>￥<var>200,000</var><br/>已众筹</li>
                                <li><var>21</var>天<br/>剩余时间</li>
                            </ul>
                        </div>
                        <div>
                        	<p class="ue-album-title chs"><a href="#" target="_blank">30集都市青春励志剧《我不是北京妞》众筹</a></p>
                            <p class="ue-album-tag chs">
                            	<a href="#">#电视剧</a>
                                <a href="#">#影视</a>
                            </p>
                        </div>
                    </li>
				</ul>
				<div class="z cl yz-idx-page">
					<a>
					查看更多<br/>
					<span>VIEW MORE</span>
					</a>
				</div>
			</div>
		</div>
		<div class="w336 y cl">	
        	<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl chs">投稿给我们</p>
				</div>
                <p class="ue-album-tougao chs">
                	优意座标™|UEUE.CC专辑频道涵盖<span>【OFFICE】</span>、<span>【人物】</span>和<span>【项目】</span>三个分享类专辑，内容注重发展过程和成长路径的分享，以提供更多的经验和有价值的帮助。<br><br><b>现阶段仅接受:</b><br><span>1、来自机构用户的【OFFICE】、【项目】专辑投稿；<br>2、来自媒体人用户的【人物】专辑投稿。</span><br><br><b>我们会谨慎的选择信息并且尽快的发布出来，同时我们声明：</b><br><span>为了专辑的分享内容更加具有价值和可参考性，不保证一定选稿，且所有稿件的公开发布均为免费服务。</span><br><br><b>投稿规则:</b><br><a href="#" target="_blank">戳这里查看详细稿件采纳规则&nbsp;&nbsp;&gt;&gt;&gt;</a>
                </p>
            </div>			
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">REVIEW</p>
				</div>
				<ul class="ue-album-right-ul">
                	<li>
                    	<a href="#" target="_blank">
                        	<img src="http://static.ueue.cc/www/img/linshi/album1.jpg" alt="{变量}La De Rosla 一个走在争议边缘的设计师" width="296" height="172"/>
                        </a>
                    </li>
                    <li>
                    	<a href="#" target="_blank">
                        	<img src="http://static.ueue.cc/www/img/linshi/album1.jpg" alt="{变量}La De Rosla 一个走在争议边缘的设计师" width="296" height="172"/>
                        </a>
                    </li>
                    <li>
                    	<a href="#" target="_blank">
                        	<img src="http://static.ueue.cc/www/img/linshi/album1.jpg" alt="{变量}La De Rosla 一个走在争议边缘的设计师" width="296" height="172"/>
                        </a>
                    </li>
                    <li>
                    	<a href="#" target="_blank">
                        	<img src="http://static.ueue.cc/www/img/linshi/album1.jpg" alt="{变量}La De Rosla 一个走在争议边缘的设计师" width="296" height="172"/>
                        </a>
                    </li>
                </ul>
			</div>
				<!--AD-->
			{{modules.MainRightAd()}}
				<!--AD-->
			</div>
		</div>
	</div>
<script type="text/javascript">
  $(document).ready(function(){
     requesttype=0;
     var picindex=0;
     var picmax=5;
     $(".yz-idx-calendar-left").click(function(){
        $(".yz-idx-goodwork-point li").eq(picindex).removeClass("gw-pton");
        picindex-=1;
        if(picindex < 0) picindex=4;
        $(".yz-idx-goodwork-point li").eq(picindex).addClass("gw-pton");
     })
     $(".yz-idx-calendar-right").click(function(){
        $(".yz-idx-goodwork-point li").eq(picindex).removeClass("gw-pton");
        picindex+=1;
        if(picindex >= 5) picindex=0;
        $(".yz-idx-goodwork-point li").eq(picindex).addClass("gw-pton");
     })
  })
</script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('#slider').miniSlider();
	$('.current-pagination').addClass('gw-pton');
})
</script>
<div class="cl"></div>
	<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>	
</div>
{{modules.MainFooter(tips)}}
</body>
</html>
