<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
	  <div class="w200 z cl ue-left">
        	{{modules.UeDescribe()}}
        <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body  w640 z cl">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">记录通告</p>
                    <i class="search-tag" title="换个标签"></i>
				</div>
				<ul class="z cl yz-record-ul">
                                        {% for row in rows %}
                                         {{ modules.EventSearch(row) }}
                                        {% end %}

</ul>
<div class="z cl yz-idx-page">
					<a>
					查看更多<br/>
					<span>VIEW MORE</span>
					</a>
				</div>
</div>
</div>
<div class="w336 y cl">
<div class="z cl yz-idx-calendar">
{{modules.Calendar()}}
<div class="yz-idx-calendar-srch chs">
	<p>你可以选择日期查看当日记录</p>
</div>
</div>
<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">COMMENTS</p>
				</div>
				<div class="mgt10 yz-idx-more">
					<ul class="cl">
					  {% for j in rvls %}
					  {{ modules.IndexReviewli(j,'record') }}
					  {% end %}
					</ul>
				</div>
			</div>
{{modules.MainRightAd()}}
</div>
</div>
</div>
<script type="text/javascript">
	var daysInMonth = new Array(31, 28, 31, 30, 31, 30, 31, 31,30, 31, 30, 31);
	var today = new getToday();
	var year = today.year;
	var month = today.month;
	var newCal;

	function getDays(month, year) {
		if (1 == month) return ((0 == year % 4) && (0 != (year % 100 ))) || (0 == year % 400) ? 29 : 28;
		else return daysInMonth[month];
	}

	function getToday() {
		this.now = new Date();
		this.year = this.now.getFullYear();
		this.month = this.now.getMonth();
		this.day = this.now.getDate();
	}

	function calendar(year, month) {
		newCal = new Date(year, month, 1);
		today = new getToday();
		var day = -1;
		var startDay = newCal.getDay();
		var endDay = getDays(newCal.getMonth(), newCal.getFullYear());
		var daily = 0;
		if ((today.year == newCal.getFullYear()) && (today.month == newCal.getMonth())) {
			day = today.day;
		}
		date_string = "";
		for (i = 0; i < startDay; i++) {
			date_string += '<a href="#"></a>\n';
		}
		for (i = 1; i <= endDay; i++) {
			date_string += '<a class="date-have">' + i + '</a>\n';
		}
		$(".yz-idx-calendar-date").html(date_string);
	}

	function calendar_left () {
		var node = $(".yz-idx-calendar-year");
		var ym = node.text().split('.');
		var year = parseInt(ym[0]);
		var mon=ym[1];

		mon = parseInt(mon < '10' ? mon[1] : mon);

		if(mon == 1) {
			mon = 12;
			year -= 1;
		} else {
			mon-=1;
		}

		replach_with = year.toString() + '.' + mon.toString();
		node.html(replach_with);
		calendar(year, month);
	}

	function calendar_right() {
		var node = $(".yz-idx-calendar-year");
		var ym = node.text().split('.');
		var year = parseInt(ym[0]);
		var mon=ym[1];

		mon = parseInt(mon < '10' ? mon[1] : mon);

		if(mon == 12){
			mon = 1;
			year += 1;
		} else {
			mon+=1;
		}

		replach_with = year.toString() + '.' + mon.toString();
		node.html(replach_with);
		calendar(year, month);

        var settings={
            url:"/events/calendar",
            type:"get",
            data:{
                year:year,
                month:mon
            },
            success:function(html) {
                $(".yz-idx-calendar-srch").prev().replaceWith(html);
            }
        };

        $.ajax(settings);
	}
</script>
<div class="cl"></div>
<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>	
</div>
{{modules.MainFooter(tips)}}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
