<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™职业生涯全纪录</title>
<meta name="keywords" content="{{row.lable}}" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/content.js"></script>
</head>
<body>
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
<!--左侧内容-->
	  <div class="w200 z cl ue-left">
	    {{modules.UeDescribe()}}
	    <div class="yz-idx-share w200">
					<p><span class="z cl">分享到</span><a href="javascript:;" class="z yz-csina cl" rel="nofollow"></a><a href="javascript:;" class="z cl yz-ctencent" rel="nofollow"></a></p>
				</div>
	  </div>
	  
		<div class="w640 z cl ue-middle">
<!--事件内容-->
			<div class="w640 z cl showct-ctbody">
				<div class="showct-ct-title w640 z cl">
					<p class="showct-ct-title-p z cl chs">{{row.title}}</p>
				</div>
				<div class="z cl mgt20 eventct-ct-info">
					<p class="z cl eventct-ct-time">{{row.time}}</p>				
				</div>
				<div class="z cl eventct-ct-img1 mgt20" id="event-img">
                                        {% for one in piclist %}
                                        <a href="#event-img{{one['num']}}" id="event-img{{one['num']}}">
					     <img src="{{one['src']}}" alt="图片">
                                        </a>
                                        {% end %}
				</div>
				<div class="z cl eventct-ct-description mgt20">
					<p>
                                         {{row.content}}
					</p>
				</div>
	<!--TEST END-->

				<div class="showct-ct-surpot z cl mgt40">
					<span class="z cl showct-ct-surpot-num en">{{row.support}}</span>
					{% if is_support %}<a class="y cl showct-ct-surpot-icon-off"></a>
                                        {% else %}<a class="y cl showct-ct-surpot-icon-on"></a>{% end %}
				</div>
			</div>
<!--AD-->
			<div class="z cl yz-ad-640-60 mgt20">
				<img src="http://static.ueue.cc/www/img/common/79b4c46696320828efe7e6b5aaf5e669.jpg"/>
			</div>
<!--相关模块-->
<!--*****************************报道弹出框*****************************************-->
			<div class="ue-idx-report" style="display:none;">
			<!--报道选择-->
				<div class="ue-idx-report-choose">
					<a class="ue-report-close"></a>
					<div class="z cl">
						<p>从我的媒体报道中选择</p>
						<div class="ue-report-search">
							<input class="ue-report-search-text z cl" type="text" />
							<input class="ue-report-search-sub z cl" type="submit" value="">
						</div>
						
						<div class="y cl">
							<ul class="ue-idx-report-choose-ul" style="top: -40px;">
								<li>
									<span>刘德华香港红馆演唱会8.22日火热开唱一二三四五六七八九十</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>张惠妹香港红馆演唱会8.22日火热开唱</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>WESTLIFE全球巡礼</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>贝克汉姆来访中国积极参与公益事业</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>甘露露再爆不雅视频</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>张惠妹香港红馆演唱会8.22日火热开唱</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>WESTLIFE全球巡礼</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
								<li>
									<span>贝克汉姆来访中国积极参与公益事业</span>
									<a href="#" title="确认" class="ue-idx-report-choose-yes"></a>
									<a href="#" target="_blank" title="查看" class="ue-idx-report-choose-watch"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="ue-report-scoll">
						<input type="button" class="z cl bs br5">
						<input type="button" class="y cl bs br5">
					</div>
					<a class="ue-report-newpost bs br5" href="#" target="_blank">这里没有，新发布一篇</a>
				</div>
			<!--报道选择成功后确认-->
				<div class="ue-idx-report-choose" style="display: none;">
					<a class="ue-report-close"></a>
					<div class="z cl">
						<p>确认一下</p>
						<p class="z cl ue-idx-report-note">您正在为记录<i>《贝克汉姆来访中国积极参与公益事业》</i>添加于<i>2013.03.04</i>发表在<i>点点网专辑频道</i>的媒体报道<i>《贝克汉姆来访中国积极参与公益事业》</i>，请确认本报道与该记录内容相关且没有违反国家相关法律法规之言辞。</p>
						<div class="ue-report-yesbutton">
							<input type="button" class="z cl bs br5" value="好的，就这样添加报道">
							<input type="button" class="y cl bs br5" value="选错了，我要回去重选">
						</div>
					</div>
				</div>
			</div>
			
<!--评论-->
			<div class="yz-idx-module-discus z cl mgt20 w640">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">COMMENTS</p>
				</div>
				<div class="z cl yz-idx-module-discusbox">
                                        {{xsrf_form_html()}}
					<div class="yz-idx-module-discus-ta z cl">
					<textarea class="inputtxtnum z cl" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='NICE';" onFocus="if(this.value=='NICE')value='';" value="NICE" maxlength=140 id="review-content-tx" name="rcontent" />NICE</textarea>
					</div>
					<span class="yz-idx-module-discus-wn">还可以输入<i class="en">140</i>个字</span>
					<input type="submit" value="发言" class="yz-idx-module-discus-sub br5 mgt10 y cl">
				</div>
				{{modules.UserReviewList(reviews)}}
			</div>
		</div>
<!--右侧边栏-->
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">Post By</p>
				</div>
				<div class="yz-idx-by z cl mgt20">
					<a href="/{{row.uid}}" class="y cl">
					<img src="{{row.img}}" alt="作者名字" width="100px" height="100px"/>
					</a>
					<a href="/{{row.uid}}" class="z cl yz-idx-by1">{{row.account}}</a>
					<span class="z cl yz-idx-by2">人像摄影+广告摄影+图片后期</span>
					<p class="z cl yz-idx-by-ver mgt10">Media Pro.</p>
				</div>
				{% if not is_follow %}
				<div class="z cl">
					<a href="#" class="z cl yz-idx-right-button ue-remember-people" title="记住Ta">
					</a>
				</div>
				{% end %}
                          </div>
			  <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">About Recorder</p>
				</div>
				<div class="z cl mgt10 yz-idx-info">
					<p class="z cl yz-idx-info-view">阅览<span class="y cl">{{row.view}}</span></p>
                                        <p class="z cl yz-idx-info-follow"><span class="z cl">关注</span><span class="y cl">1</span></p>
					<p class="z cl yz-idx-info-surpot">支持<span class="y cl">{{row.support}}</span></p>
					<p class="z cl yz-idx-info-discus">评论<span class="y cl">{{row.review}}</span></p>
					<p class="z cl yz-idx-info-tags">标签<span class="y cl">{% for i in row.lable.split(',') %}<a href="/records?lable={{i}}" target="_blank">#{{i}}</a>{% end %}</span></p>
				</div>
			  <div>
					<a href="#" class="z cl yz-idx-right-button ue-remember-work" title="记住这篇记录">
					</a>
					</div>
                </div>
			  <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">MORE</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                        	<span>公益参与 @ 2012.03.04</span></br>
                            <p><a href="#">TA的记录标题看看长度有多长 - -</a></p>
                        </li>
                        <li>
                        	<span>工作日程 @ 2012.03.04</span></br>
                            <p><a href="#">TA的工作日程记录标题</a></p>
                        </li>
                    </ul>
				</div>
				
			</div>
            <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">REPORT</p>
                    <input type="button" class="yz-idx-report" value="为记录添加报道">
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                        	<span><a href="#" target="_blank">阳城晚报</a> @ 2012.03.04 添加相关报道</span></br>
                            <p><a href="#">TA的记录标题看看长度有多长 - -</a></p>
                        </li>
                        <li>
                        	<span><a href="#" target="_blank">新浪网</a> @ 2012.03.04 添加相关报道</span></br>
                            <p><a href="#">TA的工作日程记录标题</a></p>
                        </li>
                    </ul>
				</div>
			</div>
			{{modules.MainRightAd()}}
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
                        $(".ue-report-close").click(function(){
                            $(".ue-idx-report").fadeOut(200);
                        });
                        $("#ue-report-chooseok").click(function(){
                            $(".ue-idx-report").fadeOut(200);
                        });
                        $("#ue-report-chooseback").click(function(){
                            $("#ue-report-confirm").fadeOut(200);
                            $("#ue-report-choose").fadeIn(200);
                        });
                        $(".yz-idx-report").click(function(){
                            $(".ue-idx-report").fadeIn(200);
                        });
                        $('.showct-ct-surpot-icon-on').click(function(){
                            var cuid=get_user();
                            if(cuid==undefined) location.href='/user/action/login?next='+escape(location.href);
                            else{
                               var eid=location.href.match('([0-9]+)')[0];
                               var settings={
                                       url:'/events/'+eid+'/agree',
                                       type:'post',
                                       data:{_xsrf:$("input[name='_xsrf']").val()},
                                       dataType:'json',
                                       success:function(result){
                                          if(result.status){
                                              var num=$('.showct-ct-surpot-num').text();
                                              var newnum=parseInt(num)+1;
                                              $('.showct-ct-surpot-num').text(newnum);
                                              $(".showct-ct-surpot-icon-on").removeClass('showct-ct-surpot-icon-on').addClass('showct-ct-surpot-icon-off');
                                          }
                                          else{
                                              alert(result.code);
                                          }
                                       }
                               }
                               $.ajax(settings);
                            }
                        })
       
	});
</script>
<div class="cl"></div>
{{modules.MainFooter(tips)}}
</body>
</html>
