<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™职业生涯全纪录</title>
<meta name="keywords" content="中国优秀文创人,文创人,文创机构,媒体人,优意座标,职业生涯,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.6.4.js"></script>
<script>
	$(document).ready(function(){
			
			$('#event-img a img').click(function(){
			if($("#event-img").hasClass("eventct-ct-img1"))

				$("#event-img").removeClass("eventct-ct-img1").addClass("eventct-ct-img2");
		    else $("#event-img").removeClass("eventct-ct-img2").addClass("eventct-ct-img1");

			});
			

			$("#event-img a").click(function(){
				var href = $(this).attr("href");
				var pos = $(href).offset().top;
				$("html,body").animate({scrollTop: pos}, 1000);
				return false;
			});
	});
	
//测试
/*
* @author 愚人码头
* 【jQuery插件】图片垂直水平缩放显示
* 更多

(function($){
    $.fn.VMiddleImg = function(options) {
        var defaults={
            "width":null,
            "height":null
        };
        var opts = $.extend({},defaults,options);
        return $(this).each(function() {
            var $this = $(this);
            var objHeight = $this.height(); //图片高度
            var objWidth = $this.width(); //图片宽度
            var parentHeight = opts.height||$this.parent().height(); //图片父容器高度
            var parentWidth = opts.width||$this.parent().width(); //图片父容器宽度
            var ratio = objHeight / objWidth;
            if (objHeight > parentHeight && objWidth > parentWidth) {
                if (objHeight > objWidth) { //赋值宽高
                    $this.width(parentWidth);
                    $this.height(parentWidth * ratio);
                } else {
                    $this.height(parentHeight);
                    $this.width(parentHeight / ratio);
                }
                objHeight = $this.height(); //重新获取宽高
                objWidth = $this.width();
                if (objHeight > objWidth) {
                    $this.css("top", (parentHeight - objHeight) / 2);
                    //定义top属性
                } else {
                    //定义left属性
                    $this.css("left", (parentWidth - objWidth) / 2);
                }
            }
            else {
                if (objWidth > parentWidth) {
                    $this.css("left", (parentWidth - objWidth) / 2);
                }
                $this.css("top", (parentHeight - objHeight) / 2);
            }
        });
    };
});*/


</script>

</head>
<body screen_capture_injected="true">
<!--header begain-->
<div class="wp yz-hdbg">
<div class="wp yz-hdline"></div>
<div class="wp1000 yz-hd">
<div class="yz-idx-eventchoose"></div>
<a href="/" class="logo"><span>回首页</span></a>
<ul class="yz-nav">
<li>
<a href="#" target="_blank">作品云集</a><br>
<span class="en">Works Show</span>
</li>
<li>
					<a href="#" target="_blank">记录</a><br>
					<span class="en">Recorder</span>
				</li>
<li>
<a href="#" target="_blank">机构&#38;人才</a><br>
<span class="en">Inc&#38;Professional</span>
</li>
<li>
<a href="#" target="_blank">专辑</a><br>
<span class="en">Album</span>
</li>
<li>
<a href="#" target="_blank" >风向标</a><br>
<span class="en">Ue Vane</span>
</li>
</ul>

<div class="yz-member mgt10 y cl">
				<a href="#" class="z yz-avt">
					<img src="http://static.ueue.cc/www/img/common/avt.jpg"  width="46" height="46"/>
				</a>

<div class="y yz-meb-btn cl">
<a href="#" class="yz-meb-btn1"></a>
<a href="#" class="yz-meb-btn2"></a>
<a href="#" class="yz-meb-btn3">
<span class="yz-newmsg">27</span>
</a>
<a href="#" class="yz-meb-btn4"></a>
</div>
</div>
</div>
</div>
<!--header end-->
<!--TOP BEGAIN-->
<div class="yz-idx-top wp1000 mgt40">
	<div class="z cl">
		<a href="#" target="_blank"><img src="http://static.ueue.cc/www/img/common/ad1.jpg" alt="广告描述" width="250" height="90"/></a>
	</div>
	<div class="y cl">
		<a href="#" target="_blank"><img src="http://static.ueue.cc/www/img/common/ad2.jpg" alt="BAIDU广告"/></a>
	</div>
</div>
<!--TOP END-->
<!--SEARCH BEGAIN-->
<div class="yz-idx-showct wp1000">
	<div class="z cl mgt40">
		<a href="#" class="z cl yz-idx-showct-name chs">王力宏</a><span class="z cl yz-idx-showct-title chs">公益参与</span>
	</div>
	<div class="yz-search y cl mgt40">
		<div class="z cl">
			<ul class="yz-search-type z cl">
				<li  style="top: 0px;">
					<a href="#" class="yz-search-type-wk" title="搜作品"></a>
				</li>
				<li  style="top: 30px;">
					<a href="#" class="yz-search-type-rcd" title="搜记录"></a>
				</li>
				<li  style="top: 60px;">
					<a href="#" class="yz-search-type-usr" title="搜用户"></a>
				</li>
			</ul>
			<input class="yz-search-text z cl" type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='- 搜搜你感兴趣的 -';" onFocus="if(this.value=='- 搜搜你感兴趣的 -')value='';" value="- 搜搜你感兴趣的 -"/>
			<input class="yz-search-sub z cl" type="submit" value="">
		</div>
	</div>
</div>
<!--SEARCH LINE END-->
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000">
<!--左侧内容-->
		<div class="w640 z cl mgt40 ">
<!--事件内容-->
			<div class="w640 z cl showct-ctbody">
				<div class="showct-ct-title w640 z cl">
					<p class="showct-ct-title-p z cl chs">天津市慈善协会群星闪耀慈善晚宴</p>
					<div class="yz-idx-share">
						<p><span class="z cl">分享到</span><a href="#" class="z yz-csina cl" rel="nofollow"></a><a href="#" class="z cl yz-ctencent" rel="nofollow"></a></p>
					</div>
				</div>
				<div class="z cl mgt20 eventct-ct-info">
					<p class="z cl eventct-ct-time">2012.11.09 17:30</p>
					<p class="z cl eventct-ct-add">CCTV-1新闻联播</p>				
				</div>
				<div class="z cl eventct-ct-img1 mgt20" id="event-img">
					<a href="#event-img1" id="#event-img1">
						<img src="http://static.ueue.cc/www/img/common/7/4.JPEG" alt="标题" class="t-img">
					</a>
					<a href="#event-img2" id="event-img2">
						<img src="http://static.ueue.cc/www/img/common/7/6.JPEG" alt="标题" class="t-img">
					</a>
					<a href="#event-img3" id="event-img3">
						<img src="http://static.ueue.cc/www/img/common/7/13.JPEG" alt="标题" class="t-img">
					</a>
					<a href="#event-img4" id="event-img4">
						<img src="http://static.ueue.cc/www/img/common/7/2.JPEG" alt="标题">
					</a>
					<a href="#event-img5" id="event-img5">
						<img src="http://static.ueue.cc/www/img/common/7/14.JPEG" alt="标题">
					</a>
					<a href="#event-img6" id="event-img6">
						<img src="http://static.ueue.cc/www/img/common/7/4.JPEG" alt="标题">
					</a>
					<a href="#event-img7" id="event-img7">
						<img src="http://static.ueue.cc/www/img/common/7/6.JPEG" alt="标题">
					</a>
					<a href="#event-img8" id="event-img8">
						<img src="http://static.ueue.cc/www/img/common/7/13.JPEG" alt="标题">
					</a>
				</div>
				<div class="z cl eventct-ct-description mgt20">
					<p>
						范玮琪（Fan Fan/Christine）本名范伟琪，美籍华裔歌手、基督教徒。出生于美国俄亥俄州。范玮琪于六岁时返回台湾念书，曾在台中晓明女中就读国中，至高中又返回美国继续学业，开始在洛杉矶波莫纳大学主修税法，之后至大学二年级转学到哈佛社区大学经济系。因范玮琪自小喜欢音乐，加上哈佛大学学费昂贵，终于在大学二年级即将结束时决定休学返回台湾成为歌手。台湾著名艺人陈建州于2010年2月17日向范范求婚成功。两人于2011年5月7日在台湾内湖的湖光教会举行婚礼。全新专辑《爱，在一起Together》已于2012年5月30日发行。


					</p>
				</div>
	<!--TEST END-->

				<div class="showct-ct-surpot z cl mgt40">
					<span class="z cl showct-ct-surpot-num en">294</span>
					<a class="y cl showct-ct-surpot-icon-on"></a>
				</div>
			</div>
<!--AD-->
			<div class="z cl yz-ad-640-60 mgt20">
				<img src="http://static.ueue.cc/www/img/common/79b4c46696320828efe7e6b5aaf5e669.jpg"/>
			</div>
<!--报道相关模块-->
			<div class="yz-idx-module2 z cl mgt20 w640">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">媒体报道相关记录</p>
				</div>
				
				<ul class="yz-idx-module2-ul">
					<li class="z cl yz-idx-module2-li">
						<div class="z bs cl yz-idx-module2-avt">
							<img src="http://static.ueue.cc/www/img/common/avt4.jpg" alt="用户账号名" height="50" width="50"/>
						</div>
						<div class="y cl yz-idx-module2-info">
							<a href="#" target="_blank" class="chs z cl yz-idx-module2-title">日本女星苍井空参观中国旅游胜地钓鱼岛</a>
							<p class="z yz-idx-module2-name cl"><a href="#" target="_blank" class="z cl">华谊传媒</a></p>
						</div>
					</li>
					<li class="z cl yz-idx-module2-li">
						<div class="z bs cl yz-idx-module2-avt">
							<img src="http://static.ueue.cc/www/img/common/avt1.jpg" alt="用户账号名" height="50" width="50"/>
						</div>
						<div class="y cl yz-idx-module2-info">
							<a href="#" target="_blank" class="chs z cl yz-idx-module2-title">日本女星苍井空参观中国旅游胜地钓鱼岛</a>
							<p class="z yz-idx-module2-name cl"><a href="#" target="_blank" class="z cl">羊城晚报</a></p>
						</div>
					</li>
					<li class="z cl yz-idx-module2-li">
						<div class="z bs cl yz-idx-module2-avt">
							<img src="http://static.ueue.cc/www/img/common/avt2.jpg" alt="用户账号名" height="50" width="50"/>
						</div>
						<div class="y cl yz-idx-module2-info">
							<a href="#" target="_blank" class="chs z cl yz-idx-module2-title">日本女星苍井空参观中国旅游胜地钓鱼岛</a>
							<p class="z yz-idx-module2-name cl"><a href="#" target="_blank" class="z cl">新浪网</a></p>
						</div>
					</li>
					<li class="z cl yz-idx-module2-li">
						<div class="z bs cl yz-idx-module2-avt">
							<img src="http://static.ueue.cc/www/img/common/avt3.jpg" alt="用户账号名" height="50" width="50"/>
						</div>
						<div class="y cl yz-idx-module2-info">
							<a href="#" target="_blank" class="chs z cl yz-idx-module2-title">日本女星苍井空参观中国旅游胜地钓鱼岛</a>
							<p class="z yz-idx-module2-name cl"><a href="#" target="_blank" class="z cl">CCTV-2</a></p>
						</div>
					</li>
				</ul>
			</div>

<!--评论-->
			<div class="yz-idx-module-discus z cl mgt20 w640">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">评论</p>
				</div>
				<div class="z cl yz-idx-module-discusbox">
					<div class="yz-idx-module-discus-ta z cl">
					<textarea class="z cl" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='欢迎各抒己见';" onFocus="if(this.value=='欢迎各抒己见')value='';" value="欢迎各抒己见"/>欢迎各抒己见</textarea>
					</div>
					<span class="yz-idx-module-discus-wn">还可以输入<i class="en">140</i>个字</span>
					<input type="submit" value="评论" class="yz-idx-module-discus-sub br5 mgt10 y cl">
				</div>
				<div class="yz-idx-module-discus-none z cl mgt40">
					<p class="mgt40">Ta在等待来自你的第一条评论哦!</p><br>
					<i class="en">Waiting for your opinion</i>
				</div>
				<ul class="yz-idx-module-discus-ul z cl mgt40" style="display: none;">
					<li class="z cl yz-idx-module-discus-li">
						<div class="z yz-idx-module-discus-cmtone-avt bs">
							<a href="#"  target="_blank"><img src="http://static.ueue.cc/www/img/common/avt.jpg" alt="范冰冰" height="50" width="50"/></a>
						</div>
						<div class="y yz-idx-module-discus-cmtone-ct cl">
							<p class="z yz-idx-module-discus-cmtone-name cl"><a href="#" target="_blank" class="chs z cl">范冰冰</a><span class="cp z cl"></span><i class="z cl">约4分钟前</i></p>
							<p class="z yz-idx-module-discus-cmtone-ctmain cl">很支持,范范加油!很支持,范范加油!很支持,范范加油!很支持,范范加油!很支持,范范加油!很支持,范范加油!很支持,范范加油!</p>
							
						</div>
					</li>
				</ul>
			</div>
			
		</div>
<!--右侧边栏-->
		<div class="w336 y cl mgt40">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">Post By</p>
				</div>
				<div class="yz-idx-by z cl mgt20">
					<a href="#" class="y cl">
					<img src="http://static.ueue.cc/www/img/common/avt1.jpg" alt="作者名字" width="100px" height="100px"/>
					</a>
					<a href="#" class="z cl yz-idx-by1">王力宏</a>
					<span class="z cl yz-idx-by2">人像摄影+广告摄影+图片后期</span>
					<p class="z cl yz-idx-by-ver mgt10"><span class="cp z cl"></span><span class="realname z cl"></span></p>
				</div>
			</div>
			<div class="z cl">
				<a href="#" class="br5bt z cl yz-idx-right-button chs">
					<p>
						+ 持续关注Ta
					</p>
				</a>
			</div>
			<div class="z cl yz-idx-right mgt20">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">About Recorder</p>
				</div>
				<div class="z cl mgt20 yz-idx-info">
					<p class="z cl yz-idx-info-view"><span class="z cl">阅览</span><span class="y cl">2374</span></p>
					<p class="z cl yz-idx-info-follow"><span class="z cl">关注</span><span class="y cl">126</span></p>
					<p class="z cl yz-idx-info-surpot"><span class="z cl">支持</span><span class="y cl">694</span></p>
					<p class="z cl yz-idx-info-discus"><span class="z cl">评论</span><span class="y cl">32</span></p>
					<p class="z cl yz-idx-info-tags"><span class="z cl">标签</span><span class="y cl"><a href="#" target="_blank">音乐制作过程</a><a href="#" target="_blank">爵士音乐剧</a><a href="#" target="_blank">天津演唱会</a><a href="#" target="_blank">流行</a><a href="#" target="_blank">音乐剧</a></span></p>
				</div>
			</div>
			<div class="z cl">
				<a href="#" class="br5bt z cl yz-idx-right-button chs">
					<p>
						+ 持续关注此记录通告
					</p>
				</a>
			</div>

<!--AD-->
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="http://static.ueue.cc/www/img/common/imgad.jpg">
			</div>
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="http://static.ueue.cc/www/img/common/imgad (1).jpg">
			</div>
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="http://static.ueue.cc/www/img/common/T1P8YZXb4fXXb1upjX.jpg">
			</div>
<!--AD-->
		</div>
	</div>
</div>
<!--SHOW END-->
<div class="cl"></div>
<!--footer begain-->
<div class="wp yz-ftbg">
	<div class="wp1000 yz-ft">
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-1">我了解优意座标</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">官方新浪微博</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">一分钟知晓我们</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">合作伙伴</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">我们经历过</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-2">愉快的合作</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">商业广告合作</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">大赛媒体支持</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">来参加我们的访谈</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">为公益赞助</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-3">这些会用到</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">优意知识文档</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">郑重声明</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">注册协议</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">知识共享协议</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-4">还有其他</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">欢迎你来一起工作</a>
				</li>
				<li>
					<P>-------</P>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank" style="font-size:12px">© UE Network Co., Ltd.</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank" style="font-size:12px">京ICP备1101954120</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank" style="font-size:12px">京公网安备110108003246号</a>
				</li>
			
			</ul>
		</div>
	</div>
	<div class="wp yz-ftline"></div>
</div>		
<!--footer end-->

</body>
</html>