<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™职业生涯全纪录</title>
<meta name="keywords" content="中国优秀文创人,文创人,文创机构,媒体人,优意座标,职业生涯,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script>
	$(document).ready(function(){
			
			$('#event-img a img').click(function(){
			if($("#event-img").hasClass("eventct-ct-img1"))

				$("#event-img").removeClass("eventct-ct-img1").addClass("eventct-ct-img2");
		    else $("#event-img").removeClass("eventct-ct-img2").addClass("eventct-ct-img1");

			});
			

			$("#event-img a").click(function(){
				var href = $(this).attr("href");
				var pos = $(href).offset().top;
				$("html,body").animate({scrollTop: pos}, 1000);
				return false;
			});
	});
	
//测试
/*
* @author 愚人码头
* 【jQuery插件】图片垂直水平缩放显示
* 更多

(function($){
    $.fn.VMiddleImg = function(options) {
        var defaults={
            "width":null,
            "height":null
        };
        var opts = $.extend({},defaults,options);
        return $(this).each(function() {
            var $this = $(this);
            var objHeight = $this.height(); //图片高度
            var objWidth = $this.width(); //图片宽度
            var parentHeight = opts.height||$this.parent().height(); //图片父容器高度
            var parentWidth = opts.width||$this.parent().width(); //图片父容器宽度
            var ratio = objHeight / objWidth;
            if (objHeight > parentHeight && objWidth > parentWidth) {
                if (objHeight > objWidth) { //赋值宽高
                    $this.width(parentWidth);
                    $this.height(parentWidth * ratio);
                } else {
                    $this.height(parentHeight);
                    $this.width(parentHeight / ratio);
                }
                objHeight = $this.height(); //重新获取宽高
                objWidth = $this.width();
                if (objHeight > objWidth) {
                    $this.css("top", (parentHeight - objHeight) / 2);
                    //定义top属性
                } else {
                    //定义left属性
                    $this.css("left", (parentWidth - objWidth) / 2);
                }
            }
            else {
                if (objWidth > parentWidth) {
                    $this.css("left", (parentWidth - objWidth) / 2);
                }
                $this.css("top", (parentHeight - objHeight) / 2);
            }
        });
    };
});*/


</script>

</head>
<body>
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<div class="yz-idx-showct wp1000">
	<div class="z cl mgt40 ue-maintitle">
		<a href="/{{row.uid}}" class="z cl yz-idx-showct-name chs">{{row.account}}</a><span class="z cl yz-idx-showct-title chs">{{type}}</span>
	</div>
	<div class="yz-search y cl mgt40">
		<div class="z cl">
                <ul class="yz-search-type z cl">
				<li  style="top: 0px;">
					<a class="yz-search-type-wk" title="搜作品"></a>
				</li>
				<li  style="top: 30px;">
					<a class="yz-search-type-rcd" title="搜记录"></a>
				</li>
				<li  style="top: 60px;">
					<a class="yz-search-type-usr" title="搜用户"></a>
				</li>
			</ul>
		<input class="yz-search-text z" type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='- 搜搜你感兴趣的标签 -';" onFocus="if(this.value=='- 搜搜你感兴趣的标签 -')value='';" value="- 搜搜你感兴趣的标签 -"/>
		<input class="yz-search-sub z" type="submit" value="">
		</div>
	</div>
</div>
<!--SEARCH LINE END-->
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
<!--左侧内容-->
	  <div class="w200 z cl ue-left">
	    {{modules.UeDescribe()}}
	    <div class="yz-idx-share w200">
					<p><span class="z cl">分享到</span><a href="javascript:;" class="z yz-csina cl" rel="nofollow"></a><a href="javascript:;" class="z cl yz-ctencent" rel="nofollow"></a></p>
				</div>
	  </div>
	  
		<div class="w640 z cl ue-middle">
<!--事件内容-->
			<div class="w640 z cl showct-ctbody">
				<div class="showct-ct-title w640 z cl">
					<p class="showct-ct-title-p z cl chs">{{row.title}}</p>
				</div>
				<div class="z cl mgt20 eventct-ct-info">
					<p class="z cl eventct-ct-time">{{row.time}}</p>		
				</div>
				<div class="z cl eventct-ct-img1 mgt20" id="event-img">
                                        {% for one in piclist %}
                                        <a href="#event-img{{one['num']}}" id="event-img{{one['num']}}">
					     <img src="{{one['src']}}" alt="图片">
                                        </a>
                                        {% end %}
				</div>
				<div class="z cl eventct-ct-description mgt20">
					<p>
                                         {{row.content}}
					</p>
				</div>
	<!--TEST END-->

				<div class="showct-ct-surpot z cl mgt40">
					<span class="z cl showct-ct-surpot-num en">{{row.support}}</span>
					{% if is_support %}<a class="y cl showct-ct-surpot-icon-off"></a>
                                        {% else %}<a class="y cl showct-ct-surpot-icon-on"></a>{% end %}
				</div>
			</div>
<!--AD-->
			<div class="z cl yz-ad-640-60 mgt20">
				<img src="http://static.ueue.cc/www/img/common/79b4c46696320828efe7e6b5aaf5e669.jpg"/>
			</div>
<!--评论-->
			<div class="yz-idx-module-discus z cl mgt20 w640">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">COMMENTS</p>
				</div>
				<div class="z cl yz-idx-module-discusbox">
                                    <form method="post" action="" id="event-review-f">
                                        {{xsrf_form_html()}}
					<div class="yz-idx-module-discus-ta z cl">
					<textarea class="inputtxtnum z cl" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='NICE';" onFocus="if(this.value=='NICE')value='';" value="NICE" maxlength=140 id="review-content-tx" name="rcontent" />NICE</textarea>
					</div>
					<span class="yz-idx-module-discus-wn">还可以输入<i class="en">140</i>个字</span>
					<input type="submit" value="发言" class="yz-idx-module-discus-sub br5 mgt10 y cl">
                                    </form>
				</div>
                                {% if not reviews %}
                                <div class="yz-idx-module-discus-none z cl mgt40">
				  <i class="en1">No Comments</i>
				</div>
                                {% else %}
				<ul class="yz-idx-module-discus-ul z cl mgt40">
                                 {% for one in reviews %}
				    {{modules.UserReview(one)}}				
				 {% end %}
				</ul>
                                {% end %}
			</div>
			<!--<a href="#" class="yz-idx-module-discus-more z cl">
				<p>更多评论</p>
				<span></span>
			</a>-->
		</div>
<!--右侧边栏-->
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">Post By</p>
				</div>
				<div class="yz-idx-by z cl mgt20">
					<a href="/{{row.uid}}" class="y cl">
					<img src="{{row.img}}" alt="作者名字" width="100px" height="100px"/>
					</a>
					<a href="/{{row.uid}}" class="z cl yz-idx-by1">{{row.account}}</a>
					<span class="z cl yz-idx-by2">人像摄影+广告摄影+图片后期</span>
					<p class="z cl yz-idx-by-ver mgt10">Media Pro.</p>
				</div>
				<div class="z cl">
					<a href="#" class="z cl yz-idx-right-button ue-remember-people" title="记住Ta">
					</a>
				</div>
                          </div>
			  <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">About Recorder</p>
				</div>
				<div class="z cl mgt10 yz-idx-info">
					<p class="z cl yz-idx-info-view">阅览<span class="y cl">{{row.view}}</span></p>
                                        <p class="z cl yz-idx-info-follow"><span class="z cl">关注</span><span class="y cl">1</span></p>
					<p class="z cl yz-idx-info-surpot">支持<span class="y cl">{{row.support}}</span></p>
					<p class="z cl yz-idx-info-discus">评论<span class="y cl">{{row.review}}</span></p>
					<p class="z cl yz-idx-info-tags">标签<span class="y cl">{% for i in row.lable.split(',') %}<a href="/records?lable={{i}}" target="_blank">#{{i}}</a>{% end %}</span></p>
				</div>
			  <div>
					<a href="#" class="z cl yz-idx-right-button ue-remember-work" title="记住这篇记录">
					</a>
					</div>
                </div>
			  <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">MORE</p>
				</div>
				<div class="mgt10 yz-idx-more">
					<ul class="cl">
                    	<li>
                        	<span>公益参与 @ 2012.03.04</span></br>
                            <p><a href="#">TA的记录标题看看长度有多长 - -</a></p>
                        </li>
                        <li>
                        	<span>工作日程 @ 2012.03.04</span></br>
                            <p><a href="#">TA的工作日程记录标题</a></p>
                        </li>
                    </ul>
				</div>
				
			</div>
            <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">REPORT</p>
				</div>
				<div class="mgt10 yz-idx-more">
					<ul class="cl">
                    	<li>
                        	<span><a href="#" target="_blank">范冰冰</a> @ 2012.03.04</span></br>
                            <p><a href="#">TA的记录标题看看长度有多长 - -</a></p>
                        </li>
                        <li>
                        	<span><a href="#" target="_blank">刘德华</a> @ 2012.03.04</span></br>
                            <p><a href="#">TA的工作日程记录标题</a></p>
                        </li>
                    </ul>
				</div>
			</div>
			{{modules.MainRightAd()}}
		</div>
	</div>
</div>
<div class="cl"></div>
{{modules.MainFooter(tips)}}
</body>
</html>

</body>
</html>