<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
</head>
<body onselectstart="return false;">
<!--header begain-->
{{modules.Header(cuser,request.uri)}}
<!--TOP BEGIN-->
<div class="yz-idx-top wp1000 mgt40">
		<div class="z cl">
			<a href="#" target="_blank">
				<img src="http://static.ueue.cc/www/img/common/adds1.jpg" alt="广告描述" width="460" height="90"/>
			</a>
		</div>
		<div class="y cl">
			<a href="#" target="_blank">
				<img src="http://static.ueue.cc/www/img/common/addr.jpg" alt="BAIDU广告"/>
			</a>
		</div>
</div>
<!--TOP END-->
<!--SEARCH BEGAIN-->

<div class="yz-idx-search wp1000">
	<ul class="yz-idx-event-search-tag z cl mgt40">
		<li class="yz-idx-event-search-tag1 z cl js-list">
			<span class="chs"><i class="yz-idx-clickicon"></i>记录归档</span>
			<div class="yz-idx-event-search-tag1-list js-list-1">
				<a href="/records?type=-1">全部记录</a>
				<a href="/records?type=0">公益参与</a>
				<a href="/records?type=1">通告媒体</a>
				<a href="/records?type=2">获奖荣誉</a>
				<a href="/records?type=3">机构招募</a>
				<a href="/records?type=4">发表声明</a>
				<a href="/records?type=5">媒体报道</a>
				<a href="/records?type=6">经验分享</a>
				<a href="/records?type=7">赛事活动</a>
				<a href="/records?type=8">官方发布</a>
			</div>
	  </li>

		<li class="yz-idx-event-search-tag2 z cl js-list">
			<span class="chs"><i class="yz-idx-clickicon"></i>行业领域</span>
			<div class="yz-idx-event-search-tag2-list js-list-1">
				<div class="yz-idx-event-search-tag2-list-title">
					<a id="tab-1" class="yz-idx-event-search-tag2-list-title-on">演员模特</a>
					<a id="tab-2">影视幕后</a>
					<a id="tab-3">音乐制作</a>
					<a id="tab-4">摄影造型</a>
					<a id="tab-5">设计创意</a>
					<a id="tab-6">广告传媒</a>
					<a id="tab-7">更多行业</a>
				</div>
				<div class="tab-list">		
					<div class="tab-1">
						<!--<a href="/records?trade=0">全部行业</a>-->	
						<a href="/records?trade=影视表演">影视表演</a>
						<a href="/records?trade=话剧表演">话剧表演</a>
						<a href="/records?trade=时装模特">时装模特</a>
						<a href="/records?trade=平面模特">平面模特</a>
						<a href="/records?trade=车模">车模</a>
						<a href="/records?trade=舞蹈表演">舞蹈表演</a>
						<a href="/records?trade=曲艺表演">曲艺表演</a>
						<a href="/records?trade=魔术表演">魔术表演</a>
						<a href="/records?trade=杂技表演">杂技表演</a>
						<a href="/records?trade=表演相关">表演相关</a>
						<a href="/records?trade=模特相关">模特相关</a>
					</div>
					<div class="tab-2">
						<!--<a href="#">全部行业</a>-->	
						<a href="/records?trade=影视导演">影视导演</a>
						<a href="/records?trade=制片">制片</a>
						<a href="/records?trade=影视监制">影视监制</a>
						<a href="/records?trade=出品发行">出品发行</a>
						<a href="/records?trade=编剧">编剧</a>
						<a href="/records?trade=影视摄像">影视摄像</a>
						<a href="/records?trade=后期特效">后期特效</a>
						<a href="/records?trade=影视美术">影视美术</a>
						<a href="/records?trade=场景设计">场景设计</a>
						<a href="/records?trade=配音">配音</a>
						<a href="/records?trade=字幕">字幕</a>
						<a href="/records?trade=影视相关">影视相关</a>
					</div>
					<div class="tab-3">
						<!--<a href="#">全部行业</a>-->	
						<a href="/records?trade=歌手">歌手</a>
						<a href="/records?trade=乐手">乐手</a>
						<a href="/records?trade=乐队">乐队</a>
						<a href="/records?trade=音乐制作">音乐制作</a>
						<a href="/records?trade=DJ">DJ</a>
						<a href="/records?trade=词曲\/编曲">词曲/编曲</a>
						<a href="/records?trade=录音\/混音">录音/混音</a>
						<a href="/records?trade=音乐后期">音乐后期</a>
						<a href="/records?trade=音乐相关">音乐相关</a>
					</div>
					<div class="tab-4">
						<!--<a href="#">全部行业</a>-->	
						<a href="/records?trade=时装摄影">时装摄影</a>
						<a href="/records?trade=人像摄影">人像摄影</a>
						<a href="/records?trade=广告摄影">广告摄影</a>
						<a href="/records?trade=风光摄影">风光摄影</a>
						<a href="/records?trade=纪实摄影">纪实摄影</a>
						<a href="/records?trade=图片后期">图片后期</a>
						<a href="/records?trade=化妆">化妆</a>
						<a href="/records?trade=服装造型">服装造型</a>
						<a href="/records?trade=发型">发型</a>
						<a href="/records?trade=摄影相关">摄影相关</a>
						<a href="/records?trade=造型相关">造型相关</a>
					</div>
					<div class="tab-5">
						<!--<a href="#">全部行业</a>-->	
						<a href="/records?trade=平面设计">平面设计</a>
						<a href="/records?trade=三维设计">三维设计</a>
						<a href="/records?trade=视觉设计">视觉设计</a>
						<a href="/records?trade=工业设计">工业设计</a>
						<a href="/records?trade=游戏设计">游戏设计</a>
						<a href="/records?trade=动漫设计">动漫设计</a>
						<a href="/records?trade=UI\/UE">UI/UE</a>
						<a href="/records?trade=建筑设计">建筑设计</a>
						<a href="/records?trade=景观设计">景观设计</a>
						<a href="/records?trade=空间设计">空间设计</a>
						<a href="/records?trade=视频设计">视频设计</a>
						<a href="/records?trade=服装设计">服装设计</a>
						<a href="/records?trade=珠宝设计">珠宝设计</a>
						<a href="/records?trade=插画设计">插画设计</a>
						<a href="/records?trade=纹身设计">纹身设计</a>
						<a href="/records?trade=创意执行">创意执行</a>
						<a href="/records?trade=设计相关">设计相关</a>
					</div>
					<div class="tab-6">
						<!--<a href="#">全部行业</a>-->	
						<a href="/records?trade=广告创意">广告创意</a>
						<a href="/records?trade=美术顾问">美术顾问</a>
						<a href="/records?trade=策略\/文案">策略/文案</a>
						<a href="/records?trade=活动策划">活动策划</a>
						<a href="/records?trade=活动执行">活动执行</a>
						<a href="/records?trade=主编">主编</a>
						<a href="/records?trade=编辑">编辑</a>
						<a href="/records?trade=美术编辑">美术编辑</a>
						<a href="/records?trade=采编">采编</a>
						<a href="/records?trade=记者">记者</a>
						<a href="/records?trade=广告相关">广告相关</a>
						<a href="/records?trade=媒体相关">媒体相关</a>
					</div>
					<div class="tab-7">
						<a href="/records?trade=公益">公益</a>
						<a href="/records?trade=经纪人">经纪人</a>
						<a href="/records?trade=练习生">练习生</a>
						<a href="/records?trade=学生">学生</a>
						<a href="/records?trade=旅游体验">旅游体验</a>
						<a href="/records?trade=写作">写作</a>
						<a href="/records?trade=绘画">绘画</a>
						<a href="/records?trade=书法">书法</a>
						<a href="/records?trade=雕塑">雕塑</a>
						<a href="/records?trade=戏剧">戏剧</a>
						<a href="/records?trade=收藏鉴定">收藏鉴定</a>
						<a href="/records?trade=行为艺术">行为艺术</a>
						<a href="/records?trade=视觉艺术">视觉艺术</a>
						<a href="/records?trade=艺术相关">艺术相关</a>
						<a href="/records?trade=其他行业">其他行业</a>
					</div>
				</div>
		</div>
	  </li>

		<li class="yz-idx-event-search-tag3 z cl js-list">
			<span class="chs"><i class="yz-idx-clickicon"></i>热度排序</span>
			<div class="yz-idx-event-search-tag3-list js-list-1">
				<a href="/records?hotsort=0" class="event-icon6">所有记录</a>
				<a href="/records?hotsort=1" class="show-icon8">最多查看</a>
				<a href="/records?hotsort=2" class="show-icon7">最多支持</a>
				<a href="/records?hotsort=3" class="show-icon9">最多评论</a>
				<a href="/records?hotsort=4" class="event-icon10">最多报道</a>
			</div>
	  </li>

		<li class="yz-idx-event-search-tag4 z cl js-list">
			<span class="chs"><i class="yz-idx-clickicon"></i>用户类型</span>
			<div class="yz-idx-event-search-tag4-list js-list-1">
				<a href="/records?user=-1" class="show-icon11">全部用户</a>
				<a href="/records?user=1" class="show-icon12">我记忆的</a>
				<a href="/records?user=2" class="show-icon13">文创人</a>
				<a href="/records?user=3" class="show-icon14">媒体人</a>
				<a href="/records?user=4" class="show-icon15">机构</a>
			</div>
	  </li>

		<li class="yz-idx-event-search-tag5 z cl js-list">
			<span class="chs"><i class="yz-idx-clickicon"></i>热门标签</span>		</li>
	</ul>
	<div class="yz-search y cl mgt40">
		<div class="z cl">
			<ul class="yz-search-type z cl">
                                <li  style="top: 0px;">
					<a class="yz-search-type-rcd" title="搜记录"></a>
				</li>
				<li  style="top: 30px;">
					<a class="yz-search-type-wk" title="搜作品"></a>
				</li>
				<li  style="top: 60px;">
					<a class="yz-search-type-usr" title="搜用户"></a>
				</li>
			</ul>
			<input class="yz-search-text z cl" type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='- 搜搜你感兴趣的标签 -';" onFocus="if(this.value=='- 搜搜你感兴趣的标签 -')value='';" value="- 搜搜你感兴趣的标签 -"/>
			<input class="yz-search-sub z cl" type="submit" value="">
		</div>
	</div>
</div>
<!--SEARCH LINE END-->
<div class="yz-idx-line z cl" style="display:none;">
	<div class="wp1000">
	</div>
</div>
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
	  <div class="w200 z cl ue-left">
        	{{modules.UeDescribe()}}
        <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body  w640 z cl">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">记录通告</p>
				</div>
				<ul class="z cl yz-record-ul">
                                        {% for row in rows %}
                                         {{ modules.EventSearch(row) }}
                                        {% end %}

</ul>
<div class="z cl yz-idx-page">
					<a>
					查看更多<br/>
					<span>VIEW MORE</span>
					</a>
				</div>
</div>
<!--AD-->
	<!--<div class="z cl yz-ad-640-60 mgt20">
		<img src="../../static/img/common/79b4c46696320828efe7e6b5aaf5e669.jpg"/>
	</div>
	<div class="yz-idx-module3 z cl mgt20 w640">
		<div class="yz-idx-body-title w640 z cl">
			<p class="yz-idx-body-title-p z cl chs">RECOMMEND</p>
		</div>
		<div class="yz-idx-module3-left z cl">
			<a href="#" target="_blank" class="yz-idx-module3-left-1 z cl">
				<img src="../../static/img/common/show5.jpg" height="170" width="230" alt="作品名称">
			</a>
			<div class="yz-idx-module3-left-2 mgt20 z cl">
				<a href="#" target="_blank">这是一个来自Face.Design的建筑外观设计</a>
			</div>
			<div class="yz-idx-module3-left-3 z cl mgt20">
				<a href="#" target="_blank">摄影师</a><a href="#" target="_blank">广告硬照</a><a href="#" target="_blank">那英</a><a href="#" target="_blank">歌手</a><a href="#" target="_blank">中国好声音</a>
			</div>
			<div class="yz-idx-module3-left-4 z cl mgt20">
				<a href="#" target="_blank">
					<img src="../../static/img/common/avt4.jpg" height="25" width="25" alt="作者名" class="z cl">
					<p class="z cl">Face.工作室</p>
				</a>
			</div>
		</div>
		<div class="yz-idx-module3-right y cl">
			<ul>
				<li class="z cl yz-idx-module3-right-1">
					<a target="_blank" class="z cl yz-idx-module3-right-2">
						<img src="../../static/img/common/avt4.jpg" alt="标题名称"/>
					</a>
					<a href="#" target="_blank" class="z cl yz-idx-module3-right-3">
						一组景观园林设计
					</a>
					<span class="z cl yz-idx-module3-right-4">
						来自<a href="#" target="_blank">Face.Design工作室</a>
					</span>
				</li>
				<li class="z cl yz-idx-module3-right-1">
					<a target="_blank" class="z cl yz-idx-module3-right-2">
						<img src="../../static/img/common/avt1.jpg" alt="标题名称"/>
					</a>
					<a href="#" target="_blank" class="z cl yz-idx-module3-right-3">
						美食挡不住的诱惑
					</a>
					<span class="z cl yz-idx-module3-right-4">
						来自<a href="#" target="_blank">聚焦摄影</a>
					</span>
				</li>
				<li class="z cl yz-idx-module3-right-1">
					<a target="_blank" class="z cl yz-idx-module3-right-2">
						<img src="../../static/img/common/avt.jpg" alt="标题名称"/>
					</a>
					<a href="#" target="_blank" class="z cl yz-idx-module3-right-3">
						COSCO广告大片
					</a>
					<span class="z cl yz-idx-module3-right-4">
						来自<a href="#" target="_blank">云想象摄影</a>
					</span>
				</li>
				<li class="z cl yz-idx-module3-right-1">
					<a target="_blank" class="z cl yz-idx-module3-right-2">
						<img src="../../static/img/common/avt2.jpg" alt="标题名称"/>
					</a>
					<a href="#" target="_blank" class="z cl yz-idx-module3-right-3">
						笑过之后
					</a>
					<span class="z cl yz-idx-module3-right-4">
						来自<a href="#" target="_blank">手绘的Jeavi</a>
					</span>
				</li>
				<li class="z cl yz-idx-module3-right-1">
					<a target="_blank" class="z cl yz-idx-module3-right-2">
						<img src="../../static/img/common/avt3.jpg" alt="标题名称"/>
					</a>
					<a href="#" target="_blank" class="z cl yz-idx-module3-right-3">
						名字。
					</a>
					<span class="z cl yz-idx-module3-right-4">
						来自<a href="#" target="_blank">作者</a>
					</span>
				</li>
			</ul>
		</div>
	</div>-->
</div>
<div class="w336 y cl">
<div class="z cl yz-idx-calendar">
{{modules.Calendar()}}
<div class="yz-idx-calendar-srch">
	<span id="yz-idx-c-srch-b" class="z cl">拖入日期</span>
	<span id="yz-idx-c-srch-t" class="z cl">~</span>
	<span id="yz-idx-c-srch-e" class="z cl">拖入日期</span>
	<a href="#" class="y cl yz-idx-c-srch-go">添加</a>
</div>
</div>
<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">COMMENTS</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                        	<span><a href="#" target="_blank">余森斌</a> @ 2012.03.04 评论说</span></br>
                            <p><a href="#">非常棒的作品</a></p>
                        </li>
                        <li>
                        	<span><a href="#" target="_blank">新浪网</a> @ 2012.03.04 评论说</span></br>
                            <p><a href="#">这简直是惨无人道啊</a></p>
                        </li>
                    </ul>
				</div>
			</div>
<!--AD-->
<div class="z cl yz-ad-336-280 mgt20">
<img src="http://static.ueue.cc/www/img/common/imgad.jpg">
</div>
<div class="z cl yz-ad-336-280 mgt20">
<img src="http://static.ueue.cc/www/img/common/imgad (1).jpg">
</div>
<div class="z cl yz-ad-336-280 mgt20">
<img src="http://static.ueue.cc/www/img/common/T1P8YZXb4fXXb1upjX.jpg">
</div>
<!--AD-->
</div>
</div>
</div>
<!--SHOW END-->
<script type="text/javascript">

var list={
    
    'type' : {

	'-1' : '全部记录',
	'0' : '公益参与',
	'1' : '通告媒体',
	'2' : '获奖荣誉',
	'3' : '机构招募',
	'4' : '发表声明',
	'5' : '媒体报道',
	'6' : '经验分享',
	'7' : '赛事活动',
	'8' : '官方发布'
    },

    'hotsort' : {

	'0' : '所有记录',
	'1' : '最多查看',
	'2' : '最多支持',
	'3' : '最多评论',
	'4' : '最多报道'
    },

    'user' : {

	'-1' : '全部用户',
	'1' : '我记忆的',
	'2' : '文创人',
	'3' : '媒体人',
	'4' : '机构'
    }
};

	var isStart = isEnd =  false;	//  用以记录起始日期是否已被设置，初始为false

    var ydStart, yStart, mStart, dStart;	//  解析文本日期为数字 -- 用于起始终止日期比较
    var ydEnd, yEnd, mEnd, dEnd;

	function dateselect(event) {
		event.preventDefault();
     	var html = $(this).text();	//  这里的this为点击位置的<a>标签
     	if(html){
        	html = "<div class='yz-idx-calendar-date-mvbox' style='position:absolute;padding:12px;width:30px;height:30px;'>" + html + "</div>";
        	$(html).appendTo("body");
        	$(".yz-idx-calendar-date-mvbox").css({'top':event.pageY,'left':event.pageX});	//  新创建一个元素，根据鼠标位置绝对定位
     	}
  	}


	function calendar_left () {
		var ym = $(".yz-idx-calendar-year").text();
		var year = parseInt(ym.split(".")[0]);
		var mon=ym.split(".")[1];

		mon = parseInt(mon < '10' ? mon[1] : mon);

		if(mon == 1) {
			mon = 12;
			year -= 1;
		} else {
			mon-=1;
		}

		var settings={
			url:"/events/calendar",
			type:"get",
	        data:{
	        	year:year,
				month:mon
			},
			success:function(html){
	        	$(".yz-idx-calendar-srch").prev().replaceWith(html);;
				$(".yz-idx-calendar a").bind("mousedown",dateselect);
	        }
		}

		$.ajax(settings);
	}

	function calendar_right() {
		var ym = $(".yz-idx-calendar-year").text();
		var year = parseInt(ym.split(".")[0]);
		var mon = ym.split(".")[1];

		mon = parseInt(mon < '10' ? mon[1] : mon);

		if(mon == 12){
			mon = 1;
			year += 1;
		} else {
			mon+=1;
		}

		var settings={
			url:"/events/calendar",
			type:"get",
			data:{
				year:year,
                month:mon
            },
			success:function(html) {
				$(".yz-idx-calendar-srch").prev().replaceWith(html);
		   		$(".yz-idx-calendar a").bind("mousedown",dateselect);
            }
     	};

		$.ajax(settings);
	}

	$(".yz-idx-calendar a").bind("mousedown",dateselect);	//  每一个日期都绑定一个mousedown事件 -- 处理dateselect

	$(".yz-idx-calendar a").click(function(){});

	$(".yz-idx-calendar").mousemove(function(event) {	//  鼠标在区域内移动时 -- 先要mousedown创建“数字”元素才会有“数字”跟随效果
		event.preventDefault();
		$(".yz-idx-calendar-date-mvbox").css({'top':event.pageY,'left':event.pageX});
  	});

	$(document).mouseup(function(event){

	    var day = $(".yz-idx-calendar-date-mvbox").text();	//  拖动的day	

	    var bof = $("#yz-idx-c-srch-b").offset();	//  相对document的偏移 -- .position()是相对于父元素
	    var bhg = $("#yz-idx-c-srch-b").height();	
	    var bwd = $("#yz-idx-c-srch-b").width();

	    var eof = $("#yz-idx-c-srch-e").offset();
	    var ehg = $("#yz-idx-c-srch-e").height();
	    var ewd = $("#yz-idx-c-srch-e").width();

	    if((event.pageX >= bof.left && event.pageX <= bof.left + bwd) && (event.pageY >= bof.top && event.pageY <= bof.left + bhg)) {
	    	if(day) {	//  保证已经选中日期
	    		isStart = true;

	    		ydStart = $(".yz-idx-calendar-year").text() + "." + day;
	    		$("#yz-idx-c-srch-b").text(ydStart);
	    		yStart = parseInt(ydStart.split(".")[0]);
	    		mStart = parseInt(ydStart.split(".")[1]);
	    		dStart = parseInt(day);
	    	}
	     }

	    if((event.pageX >= eof.left && event.pageX <= eof.left + ewd) && (event.pageY >= eof.top && event.pageY <= eof.left + ehg)){
	        if(day) {
	        	isEnd = true;

	        	ydEnd = $(".yz-idx-calendar-year").text() + "." + day;
	        	$("#yz-idx-c-srch-e").text(ydEnd);
	    		yEnd = parseInt(ydEnd.split(".")[0]);
	    		mEnd = parseInt(ydEnd.split(".")[1]);
	    		dEnd = parseInt(day);

	        }
	    }

	    $(".yz-idx-calendar-date-mvbox").remove();

		if (isStart && isEnd) {
			if (yStart > yEnd || (yStart == yEnd && mStart > mEnd) || (yStart == yEnd && mStart == mEnd && dStart > dEnd)) {
				var temp1 = yEnd; yEnd = yStart; yStart = temp1;
				var temp2 = mEnd; mEnd = mStart; mStart = temp2;
				var	temp3 = dEnd; dEnd = dStart; dStart = temp3;
				$("#yz-idx-c-srch-e").text(ydStart);
				$("#yz-idx-c-srch-b").text(ydEnd);
			};
		};
		
	});

      inittexts(list);

      loadlable();

  $(".yz-idx-event-search-tag li a").click(function(event){
        event.preventDefault();
        if($(".yz-idx-line").css('display') == 'none') $(".yz-idx-line").show();
        if(!$(".yz-idx-line").find(".yz-idx-line-p").text()) $(".yz-idx-line").children().append("<div class='z cl yz-idx-line-p'></div>");
        var url=$(this).attr("href");
        var text=$(this).text();
        var data=url.split("?")[1];
        var which=data.split("=")[0];
        var cls="yz-work-lable-"+which;
        var ncls="."+cls;
        if($(".yz-idx-line-p").find(ncls).text()){
            $(ncls).text(text);
            $(ncls).next().attr("data",data);
            var numreg=new RegExp(which+"=([0-9]+)");
            var txtreg=new RegExp("trade=([a-zA-Z0-9%]+)");
            if((start=data.indexOf("trade=")) != -1) location.search=location.search.replace(txtreg,data.substring(0,start+6)+encodeURIComponent(data.substring(start+6)));
            else location.search=location.search.replace(numreg,data);
        }
        else{
            addlable(cls,text,data);
            if(location.search.indexOf("?")==-1){
	        if((start=data.indexOf("trade=")) != -1) location.search+="?"+data.substring(0,start+6)+encodeURIComponent(data.substring(start+6));
	        else location.search+="?"+data;
	    }
            else{
	        if((start=data.indexOf("trade=")) != -1) location.search+="&"+data.substring(0,start+6)+encodeURIComponent(data.substring(start+6));
	        else location.search+="&"+data;
	    }
        }
     })
</script>

<div class="cl"></div>
<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>	
</div>
<!--footer begain-->

{{modules.MainFooter()}}

<!--footer end-->
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
