<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser,request.uri)}}
<!--header end-->
{{modules.HomepageContent(user)}}
<!--TOP END-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt60">
    	<div class="w200 z cl ue-left">
        	<div class="ue-left-up">
            	<div class="ue-left-title w200">
					<p class="z cl chs">Link</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="/{{user.uid}}/works">作品展示</a></br>
                        <a href="/{{user.uid}}/records">记录通告</a></br>
                        <a href="/{{user.uid}}/profile">联络&amp;资料</a></br>
                        {% if userself %}<a href="/user/focus" class="active">我记住的</a>{% end %}
                    </p>
                </div>
            </div>
        	<div class="ue-left-up">
            	<div class="ue-left-title w200">
					<p class="z cl chs">我的记忆</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="/user/focus?type=1" class="active">作品展示</a><br>
						<a href="/user/focus?type=2">记录通告</a><br>
						<a href="/user/focus?type=3">人才&amp;机构</a>
                    </p>
                </div>
            </div>
        	<div>
            	<div class="ue-left-title w200">
					<p class="z cl chs">作品展示分类</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="#" class="active">全部作品 | 56</a><br>
						<a href="#">图像作品 | 1343</a><br>
						<a href="#">视频作品 | 1</a><br>
						<a href="#">声音作品 | 0</a><br>
						<a href="#">文字作品 | 7</a><br>
                    </p>
                </div>
            </div>
        </div>
	<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p chs">记忆中的作品展示 | 图像作品</p>
				</div>
				<ul class="cl yz-work-ul">
					<li>
						<div class="yz-work-li-bg">
							<div class="yz-hp-show-ct">
								<a href="#" class="y cl hp-show-del">删除</a>
							</div>
							<div class="yz-work-show-pic">
								<a href="#" target="_blank">
									<img src="http://static.ueue.cc/www/img/linshi/work1.jpg" alt="{title}"/>
								</a>
							</div>
							<div class="yz-othr">
								<p class="yz-othr-title">作品标题一二三四五六七八九十一二三四五六七八九十</p>
								<p class="yz-othr-tags">
									<a href="#">#摄影师</a>
									<a href="#">#广告硬照</a>
									<a href="#">#那英</a>
									<a href="#">#歌手</a>
									<a href="#">#好声音</a>
									<a href="#">#吉克隽逸</a>
									<a href="#">#浙江卫视</a>
									<a href="#">#中国好声音</a>
								</p>
								<p class="yz-othr-avr">
									<a href="#" target="_blank">
										<img src="http://static.ueue.cc/www/img/common/avt2.jpg" height="25" width="25"/>
									</a>
									<a href="#" target="_blank">余森斌</a>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="yz-work-li-bg">
							<div class="yz-hp-show-ct">
								<a href="#" class="y cl hp-show-del">删除</a>
							</div>
							<div class="yz-work-show-video">
								<a href="#" target="_blank">
									<img src="http://static.ueue.cc/www/img/linshi/work2.jpg" alt="{title}"/>
									<span></span>
								</a>
							</div>
							<div class="yz-othr">
								<p class="yz-othr-title">作品标题</p>
								<p class="yz-othr-tags">
									<a href="#">#歌手</a>
									<a href="#">#好声音</a>
									<a href="#">#吉克隽逸</a>
									<a href="#">#浙江卫视</a>
									<a href="#">#中国好声音</a>
								</p>
								<p class="yz-othr-avr">
									<a href="#" target="_blank">
										<img src="http://static.ueue.cc/www/img/common/avt1.jpg" height="25" width="25"/>
									</a>
									<a href="#" target="_blank">Dick</a>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="yz-work-li-bg">
							<div class="yz-work-show-txt">
								<a href="#" target="_blank">
									<p>物质充裕着城市的灵魂，现代年轻女子通常说：“宁可坐在宝马里哭，也不愿坐在单车上笑。”曾经我也以为这种看法太过现实，我总以为，车子、房子、票子不代表幸福，然而2012年经历的一切让我变得也颇为现实。但是物质在我的心中始终不是那么重要。<br>回到房间，打开电脑，看到“人民网湖北十堰3月1日电 有网友爆料，称湖北十堰某儿童福利院多名儿童非正常死亡。记者向有关部门核实，确实有儿童非正常死亡，具体死因和人数正在调查中。”我震惊，家乡的孩童就这样又消失了那么多！那些八九点钟的太阳，还未看到世间的美好就已沉落在天际！
</p>
								</a>
							</div>
							<div class="yz-othr">
								<p class="yz-othr-title">文化苦旅</p>
								<p class="yz-othr-tags">
									<a href="#">#敦煌</a>
									<a href="#">#旅行</a>
									<a href="#">#中国文物</a>
								</p>
								<p class="yz-othr-avr">
									<a href="#" target="_blank">
										<img src="http://static.ueue.cc/www/img/common/avt3.jpg" height="25" width="25"/>
									</a>
									<a href="#" target="_blank">韩旭</a>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="yz-work-li-bg">
							<div class="yz-work-show-voice">
								<a href="#" target="_blank">
									<span></span>
								</a>
							</div>
							<div class="yz-othr">
								<p class="yz-othr-title">A PLACE NEAR BY</p>
								<p class="yz-othr-tags">
									<a href="#">#欧美</a>
									<a href="#">#流行</a>
									<a href="#">#情感歌曲</a>
								</p>
								<p class="yz-othr-avr">
									<a href="#" target="_blank">
										<img src="http://static.ueue.cc/www/img/common/avt5.jpg" height="25" width="25"/>
									</a>
									<a href="#" target="_blank">汪晴天</a>
								</p>
							</div>
						</div>
					</li>					
				</ul>
				<div class="yz-hp-loading cl"></div>
			</div>
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">INFO.</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<p><a href="#" class="ue-readmore">阅读更多</a></p>
				</div>
			</div>
		
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">USER DATE</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                            <p><span class="z cl ue-icon-work">作品展示数量</span><span class="y cl"><a href="#">73</a></span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-record">记录通告数量</span><span class="y cl"><a href="#">46</a></span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-media">媒体关注度</span><span class="y cl">0</span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-affect">公众传播影响力</span><span class="y cl">758</span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-love">公益参与度</span><span class="y cl"><a href="#">23</a></span></p>
                        </li>						
                    </ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">WEB REFERENCES</p>
				</div>
				<div class="mgt20 yz-idx-more-1">
					<ul class="cl">
                    	<li>
                            <a href="#" target="_blank" rel="nofollow">新浪微博</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">腾讯微博</a>
                        </li>
						<li>
                         	<a href="#" target="_blank" rel="nofollow">点点博客</a>
                        </li>
						<li>
                            <a href="#" target="_blank" rel="nofollow">豆瓣</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">MOKO!美空</a>
                        </li>	
						<li>
                        	<a href="#" target="_blank" rel="nofollow">LOFTER</a>
                        </li>					
                    </ul>
				</div>
			</div>
		</div>
	</div>	
</div>


<script type="text/javascript">
function itemactive(){
  var itemindex={
       "works":0,
       "records":1,
       "profile":2,
       "focus":3
  };
  var item=location.pathname.substring(location.pathname.lastIndexOf('/')+1);
  $(".ue-hp-nav a").eq(itemindex[item]).addClass("active");
}
$(document).ready(function(){
  $("a.yz-hp-del-1").click(function(){
$(this).nextAll(".yz-hp-focus-hover").hide(0);	
 // $(this).nextAll(".yz-hp-show-frontlink").fadeOut(100,0);
 // $(this).parent().css({position:inherit});
  $(this).parent("li").fadeTo(600,0,function(){
  	$(this).hide(500)
  });
  });
  
  	$('a[href="#top"]').click(function(){
        $('html, body').animate({scrollTop: 0}, 'slow');
        return false;
	});	
  itemactive();
});
</script>

<div class="cl"></div>

<!--footer begain-->

{{modules.BlackFooter(cuser,tips)}}
<div class="wp1000 cl" style="overflow: hidden;">
	<div class="yz-hp-info-topbuttoff z cl">
		<span></span>
	</div>
</div>

<!--footer end-->
</body>
</html>
