<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/CSS/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("a.yz-hp-del").click(function(){
  $(this).parent().slideUp(500)
  });
});
</script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser,request.uri)}}
<!--header end-->
{{modules.HomepageContent(user)}}
<!--TOP END-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt60">
    	<div class="w200 z cl ue-left">
        	<div class="ue-left-up">
            	<div class="ue-left-title w200">
					<p class="z cl chs">我的记忆</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="/user/focus?type=1">作品展示</a><br>
						<a href="/user/focus?type=2">记录通告</a><br>
						<a href="/user/focus?type=3" class="active">人才&amp;机构</a>
                    </p>
                </div>
            </div>
        	<div>
            	<div class="ue-left-title w200">
					<p class="z cl chs">用户分类</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="#" class="active">全部USER | 56</a><br>
						<a href="#">文创人 | 1343</a><br>
						<a href="#">媒体人 | 1</a><br>
						<a href="#">机构 | 7</a><br>
                    </p>
                </div>
            </div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p chs">记忆中USER</p>
				</div>
				<ul class="ue-user-list cl">
					<li>
						<a href="#" class="ue-user-bg z cl">
							
							<div class="z cl ue-user-img z cl">
								<img src="http://static.ueue.cc/www/img/common/avt1.jpg" height="193" width="193"/>
							</div>
							<div class="ue-user-info">
								<p class="z cl ue-user-info-name">优意座标开发团队</p>
								<p class="z cl ue-user-area">人像摄影+图片/后期+广告/创意</p>
							</div>
						</a>
						<div class="yz-hp-show-ct">
							<a href="#" class="y cl hp-show-del">删除</a>
						</div>
					</li>
					<li>
						<a href="#" class="ue-user-bg z cl">
							<div class="z cl ue-user-img z cl">
								<img src="http://static.ueue.cc/www/img/common/avt2.jpg" height="193" width="193"/>
							</div>
							<div class="ue-user-info">
								<p class="z cl ue-user-info-name">优意座标开发团队</p>
								
								
								<p class="z cl ue-user-area">人像摄影+图片后期+广告创意</p>
							</div>
						</a>
						<div class="yz-hp-show-ct">
							<a href="#" class="y cl hp-show-del">删除</a>
						</div>
					</li>
					<li>
						<a href="#" class="ue-user-bg z cl">
							<div class="z cl ue-user-img z cl">
								<img src="http://static.ueue.cc/www/img/common/avt3.jpg" height="193" width="193"/>
							</div>
							<div class="ue-user-info">
								<p class="z cl ue-user-info-name">优意座标开发团队</p>
								
								
								<p class="z cl ue-user-area">人像摄影+图片后期+广告创意</p>
							</div>
						</a>
						<div class="yz-hp-show-ct">
							<a href="#" class="y cl hp-show-del">删除</a>
						</div>
					</li>
				</ul>
				<div class="yz-hp-loading cl"></div>
			</div>
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">INFO.</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<p><a href="#" class="ue-readmore">阅读更多</a></p>
				</div>
			</div>
		
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">USER DATE</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                            <p><span class="z cl ue-icon-work">作品展示数量</span><span class="y cl"><a href="#">73</a></span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-record">记录通告数量</span><span class="y cl"><a href="#">46</a></span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-media">媒体关注度</span><span class="y cl">0</span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-affect">公众传播影响力</span><span class="y cl">758</span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-love">公益参与度</span><span class="y cl"><a href="#">23</a></span></p>
                        </li>						
                    </ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">WEB REFERENCES</p>
				</div>
				<div class="mgt20 yz-idx-more-1">
					<ul class="cl">
                    	<li>
                            <a href="#" target="_blank" rel="nofollow">新浪微博</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">腾讯微博</a>
                        </li>
						<li>
                         	<a href="#" target="_blank" rel="nofollow">点点博客</a>
                        </li>
						<li>
                            <a href="#" target="_blank" rel="nofollow">豆瓣</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">MOKO!美空</a>
                        </li>	
						<li>
                        	<a href="#" target="_blank" rel="nofollow">LOFTER</a>
                        </li>					
                    </ul>
				</div>
			</div>
		</div>
	</div>	
</div>
<script type="text/javascript">
function itemactive(){
  var itemindex={
       "works":0,
       "records":1,
       "profile":2,
       "focus":3
  };
  var item=location.pathname.substring(location.pathname.lastIndexOf('/')+1);
  $(".ue-hp-nav a").eq(itemindex[item]).addClass("active");
}

$(document).ready(function($){
	$('a[href="#top"]').click(function(){
$('html, body').animate({scrollTop: 0}, 'slow');
        return false;
	});
        itemactive();
})



</script>


<div class="cl"></div>
<!--footer begain-->	
{{modules.BlackFooter(cuser)}}
<!--footer end-->
</body>
</html>
