<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser,request.uri)}}
<!--header end-->
{{modules.HomepageContent(cuser,basic)}}
<!--TOP END-->
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt60">
    	<div class="w200 z cl ue-left">
        	<div class="ue-left-up">
            	<div class="ue-left-title w200">
					<p class="z cl chs">我的记忆</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="/user/focus?type=1">作品展示</a><br>
						<a href="/user/focus?type=2" class="active">记录通告</a><br>
						<a href="/user/focus?type=3">人才&amp;机构</a>
                    </p>
                </div>
            </div>
            <div>
          		<div class="ue-left-title w200">
					<p class="z cl chs">记录分类</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
			  <a href="/{{cuser.uid}}/records">全部记录</a>
						<a href="/{{cuser.uid}}/records?type=1" class="active">媒体通告</a><br>
						<a href="/{{cuser.uid}}/records?type=6">经验技巧</a>
						<a href="/{{cuser.uid}}/records?type=2">获奖荣誉</a><br>
						<a href="/{{cuser.uid}}/records?type=4">发表声明</a>
						<a href="/{{cuser.uid}}/records?type=0">公益参与</a><br>
						<a href="/{{cuser.uid}}/records?type=3">机构招募</a>
						<a href="/{{cuser.uid}}/records?type=7">赛事活动</a><br>
						<a href="/{{cuser.uid}}/records?type=5">媒体报道</a>
						<a href="/{{cuser.uid}}/records?type=8">官方发布</a>
                    </p>
                </div>
            </div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p chs">记忆中的记录通告 | 工作日程</p>
				</div>
				<ul class="yz-record-ul">
                	<li>
                    	<div class="yz-record-list">
                        	<div class="yz-record-info z cl">
                            	<p class="yz-record-title"><span>媒体报道</span>记录标题一二三四五六七八九十一二三四五六七八九十</p>
                                <p class="yz-record-tags">
                                	<a href="#">#新闻发布会</a>
                               		<a href="#">#开拍</a>
                                  	<a href="#">#杨门女将</a>
                                    <a href="#">#任贤齐</a>
                                </p>
                                <p class="yz-record-by">
									<a href="#" target="_blank">
                                    	<img src="http://static.ueue.cc/www/img/common/avt1.jpg" height="25" width="25" alt="用户名"/>
                                    </a>
                                    <a href="#" target="_blank">演员张柏芝</a>
                                    <span>2013.03.24</span>
									<a href="#" class="hp-show-del z cl">删除</a>
                                </p>
                            </div>
                            <div class="yz-record-enter-havepic y cl">
                            	<a href="#" target="_blank">
                                	<img src="http://static.ueue.cc/www/img/common/avt9.jpg" width="85"/>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </li>
					<li>
                    	<div class="yz-record-list">
                        	<div class="yz-record-info z cl">
                            	<p class="yz-record-title">
                                	<span>机构招募</span>
                                	记录标题
                                </p>
                                <p class="yz-record-tags">
                                	<a href="#">#新闻发布会</a>
                               		<a href="#">#开拍</a>
                                  	<a href="#">#杨门女将</a>
                                    <a href="#">#任贤齐</a>
                                </p>
                                <p class="yz-record-by">
									<a href="#" target="_blank">
                                    	<img src="http://static.ueue.cc/www/img/common/avt1.jpg" height="25" width="25" alt="用户名"/>
                                    </a>
                                    <a href="#" target="_blank">演员张柏芝</a>
                                    <span>2013.03.24</span>
									<a href="#" class="hp-show-del z cl">删除</a>
                                </p>
                            </div>
                            <div class="yz-record-enter-havepic y cl">
                            	<a href="#" target="_blank">
                                	<img src="http://static.ueue.cc/www/img/common/avt8.jpg" width="85"/>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<div class="yz-record-list">
                        	<div class="yz-record-info z cl">
                            	<p class="yz-record-title">
                                	<span>获奖荣誉</span>
                                	第十一届戛纳电影节最佳男演员提名
                                </p>
                                <p class="yz-record-tags">
                                	<a href="#">#新闻发布会</a>
                               		<a href="#">#开拍</a>
                                  	<a href="#">#杨门女将</a>
                                    <a href="#">#任贤齐</a>
                                </p>
                                <p class="yz-record-by">
									<a href="#" target="_blank">
                                    	<img src="http://static.ueue.cc/www/img/common/avt1.jpg" height="25" width="25" alt="用户名"/>
                                    </a>
                                    <a href="#" target="_blank">演员张柏芝</a>
                                    <span>2013.03.24</span>
									<a href="#" class="hp-show-del z cl">删除</a>
                                </p>
                            </div>
                            <div class="yz-record-enter-nopic y cl">
                            	<a href="#" target="_blank" title="查看更详尽内容">
                                </a>
                            </div>
                        </div>
                    </li>
				</ul>
				<div class="yz-hp-loading cl"></div>
			</div>
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">INFO.</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<p><a href="#" class="ue-readmore">阅读更多</a></p>
				</div>
			</div>
		
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">USER DATE</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                            <p><span class="z cl ue-icon-work">作品展示数量</span><span class="y cl"><a href="#">73</a></span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-record">记录通告数量</span><span class="y cl"><a href="#">46</a></span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-media">媒体关注度</span><span class="y cl">0</span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-affect">公众传播影响力</span><span class="y cl">758</span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-love">公益参与度</span><span class="y cl"><a href="#">23</a></span></p>
                        </li>						
                    </ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">WEB REFERENCES</p>
				</div>
				<div class="mgt20 yz-idx-more-1">
					<ul class="cl">
                    	<li>
                            <a href="#" target="_blank" rel="nofollow">新浪微博</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">腾讯微博</a>
                        </li>
						<li>
                         	<a href="#" target="_blank" rel="nofollow">点点博客</a>
                        </li>
						<li>
                            <a href="#" target="_blank" rel="nofollow">豆瓣</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">MOKO!美空</a>
                        </li>	
						<li>
                        	<a href="#" target="_blank" rel="nofollow">LOFTER</a>
                        </li>					
                    </ul>
				</div>
			</div>
		</div>
	</div>	
</div>
<script>
function itemactive(){
  var itemindex={
       "works":0,
       "records":1,
       "profile":2,
       "focus":3
  };
  var item=location.pathname.substring(location.pathname.lastIndexOf('/')+1);
  $(".ue-hp-nav a").eq(itemindex[item]).addClass("active");
}
$(document).ready(function($) {
	$('a[href="#top"]').click(function(){
        $('html, body').animate({scrollTop: 0}, 'slow');
        return false;
	});
   itemactive();
});

</script>

<div class="cl"></div>
<!--footer begain-->
{{modules.BlackFooter(cuser)}}
<!--footer end-->
</body>
</html>
