<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/homepage.js"></script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser, request.uri)}}
<!--header end-->
{{modules.HomepageContent(user, userself, followed)}}
<!--TOP END-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl">
    	<div class="w200 z cl ue-left">
        	<div class="ue-left-up">
            	<div class="ue-left-title w200">
					<p class="z cl chs">导航 / Link</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="/{{user.uid}}/works" class="active">作品展示</a></br>
                        <a href="/{{user.uid}}/records">记录通告</a></br>
                        <a href="/{{user.uid}}/profile">联络&amp;资料</a></br>
                        {% if userself %}<a href="/user/focus">我记住的</a>{% end %}
                    </p>
                </div>
            </div>
        	<div>
            	<div class="ue-left-title w200">
					<p class="z cl chs">作品展示分类</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<a href="/{{user.uid}}/works" class="active">全部作品 | {{worklist['-1']}}</a><br>
						<a href="/{{user.uid}}/works?type=2">图像作品 | {{worklist['2']}}</a><br>
						<a href="/{{user.uid}}/works?type=0">视频作品 | {{worklist['0']}}</a><br>
						<a href="/{{user.uid}}/works?type=1">声音作品 | {{worklist['1']}}</a><br>
						<a href="/{{user.uid}}/works?type=3">文字作品 | {{worklist['3']}}</a><br>
                    </p>
                </div>
            </div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p chs">作品展示</p>
				</div>
				<ul class="cl yz-work-ul">
				  {{xsrf_form_html()}}
				  {% for row in rows %}{{modules.WorkHomepage(row,userself)}}{% end %}						
				</ul>
				<div class="yz-hp-loading cl"></div>
			</div>
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">INFO.</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<p><a href="#" class="ue-readmore">阅读更多</a></p>
				</div>
			</div>
		
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">USER DATE</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	<li>
                            <p><span class="z cl ue-icon-work">作品展示数量</span><span class="y cl"><a href="#">5</a></span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-record">记录通告数量</span><span class="y cl"><a href="#">46</a></span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-media">媒体关注度</span><span class="y cl">0</span></p>
                        </li>
						<li>
                            <p><span class="z cl ue-icon-affect">公众传播影响力</span><span class="y cl">758</span></p>
                        </li>
                        <li>
                        	<p><span class="z cl ue-icon-love">公益参与度</span><span class="y cl"><a href="#">23</a></span></p>
                        </li>						
                    </ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">WEB REFERENCES</p>
				</div>
				<div class="mgt20 yz-idx-more-1">
					<ul class="cl">
                    	<li>
                            <a href="#" target="_blank" rel="nofollow">新浪微博</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">腾讯微博</a>
                        </li>
						<li>
                         	<a href="#" target="_blank" rel="nofollow">点点博客</a>
                        </li>
						<li>
                            <a href="#" target="_blank" rel="nofollow">豆瓣</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">MOKO!美空</a>
                        </li>	
						<li>
                        	<a href="#" target="_blank" rel="nofollow">LOFTER</a>
                        </li>					
                    </ul>
				</div>
			</div>
		</div>
	</div>	
</div>
<script>
function itemactive(){
  var itemindex={
       "works":0,
       "records":1,
       "profile":2,
       "focus":3
  };
  var item=location.pathname.substring(location.pathname.lastIndexOf('/')+1);
  var index=itemindex[item] != undefined ? itemindex[item] : 0; 
  $(".ue-hp-nav a").eq(index).addClass("active");
}
$(document).ready(function($){
    itemactive();
    $(".yz-hp-control-del").click(function(e){
        e.preventDefault();
        if(confirm("你确定要删除此篇作品？")){
            var settings={
              url:$(this).attr("href"),
              type:"post",
              dataType:"json",
              data:{_xsrf:$("input[name='_xsrf']").val(),index:$(this).parents("li").index()},
              error:function(jq,data,errorThrow){
                     alert(data);
                   },
              success:function(result){
                        if(result.status) $(".yz-hp-work li").eq(parseInt(result.index)).fadeOut(200);
                        else alert(result.msg);
                   }
            }
            $.ajax(settings);
        }
    })
});

</script>

<div class="cl"></div>
{{modules.BlackFooter(user,tips)}}
</body>
</html>
