<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<!--[if lt IE 9]><script src="http://www.html5china.com/templets/html5/scripts/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/index.css')}}">
<script type="text/javascript" src="{{static_url('JS/jquery-1.6.4.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/common.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/index.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/homepage.js')}}"></script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser)}}
<!--header end-->
{{modules.HomepageContent(user,basic,userself,followed)}}
<!--TOP END-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt60">
    	<div class="w200 z cl ue-left">
        	<div>
            	<div class="ue-left-title w200">
					<p class="z cl chs">联络方式</p>
				</div>
                <div class="ue-left-text w200">
                	<p>
                    	<span>电话</span><br>
						<span>{% if user.telphone %}{{user.telphone.split("&")[0]}}{% else %}{{deftxt}}{% end %}</span><br>
						<hr>
						<span>邮箱</span><br>
						<span>{% if user.conmail %}{{user.conmail.split("&")[0]}}{% else %}{{deftxt}}{% end %}</span><br>
						<hr>
						<span>联络地址</span><br>
						<span>{% if user.conaddress %}{{user.conaddress.split("&")[0]}}{% else %}{{deftxt}}{% end %}</span><br>
                    </p>
                </div>
            </div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p chs">资料</p>
				</div>
				<div class="ue-hp-info">
					<p>
						<span>姓名 / 绰号</span>
						{% if basic.uname %}{{basic.uname}}{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>所在地</span>
						{% if basic.area %}{{basic.area}}{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>职业</span>
						{% if basic.job %}{{basic.job}}{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>所属机构</span>
						{% if basic.organ %}{{basic.organ.split('&')[0]}}{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>生日</span>
						{% if basic.birth %}{{basic.birth.split('&')[0]}}{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>身高</span>
						{% if basic.organ %}{{basic.height.split('&')[0]}} cm{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>体重</span>
						{% if basic.organ %}{{basic.weight.split('&')[0]}} Kg{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>三围</span>
						{% if sanwei %}B/{% if sanwei[0] %}{{sanwei[0]}}In.{% else %}{{deftxt}}{% end %} W/{% if sanwei[1] %}{{sanwei[1]}}In.{% else %}{{deftxt}}{% end %} H/{% if sanwei[2] %}{{sanwei[2]}}In.{% else %}{{deftxt}}{% end %}{% else %}{{deftxt}}{% end %}
					</p>
					<p>
						<span>鞋码</span>
						38
					</p>
				</div>
			</div>
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">INFO.</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<p><a href="#" class="ue-readmore">阅读更多</a></p>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">WEB REFERENCES</p>
				</div>
				<div class="mgt20 yz-idx-more-1">
					<ul class="cl">
                    	<li>
                            <a href="#" target="_blank" rel="nofollow">新浪微博</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">腾讯微博</a>
                        </li>
						<li>
                         	<a href="#" target="_blank" rel="nofollow">点点博客</a>
                        </li>
						<li>
                            <a href="#" target="_blank" rel="nofollow">豆瓣</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank" rel="nofollow">MOKO!美空</a>
                        </li>	
						<li>
                        	<a href="#" target="_blank" rel="nofollow">LOFTER</a>
                        </li>					
                    </ul>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="cl"></div>
<script type="text/javascript">
function itemactive(){
  var itemindex={
       "works":0,
       "records":1,
       "profile":2,
       "focus":3
  };
  var item=location.pathname.substring(location.pathname.lastIndexOf('/')+1);
  $(".ue-hp-nav a").eq(itemindex[item]).addClass("active");
}
$(document).ready(function(){
  itemactive();
})
</script>
<!--footer begain-->
{{modules.BlackFooter(user)}}
<!--footer end-->
</body>
</html>
