<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/homepage.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("a.yz-hp-del").click(function(){
  $(this).parent().fadeTo(600,0,function(){
  	$(this).hide(500)
  });
  });
});
</script>
</head>
<body>
<!--header begain-->
<div class="wp yz-hdbg">
	<div class="wp yz-hdline"></div>
	<div class="wp1000 yz-hd">
<a href="/" hidefocus="true" class="logo"><span>回首页</span></a>
<ul class="yz-nav">
<li>
<a href="/works" hidefocus="true">作品云集</a><br>
<span class="en">Works Show</span>
</li>
<li>
<a href="/events" hidefocus="true">通告</a><br>
<span class="en">Events</span>
</li>
<li>
<a href="/professional" hidefocus="true">机构&#38;人才</a><br>
<span class="en">Inc&#38;Professional</span>
</li>
<li>
<a href="/album"  hidefocus="true">专辑</a><br>
<span class="en">Album</span>
</li>
<li>
<a href="/club"  hidefocus="true">座标站</a><br>
<span class="en">Yoez Club</span>
</li>
</ul>

<div class="yz-member mgt10 y cl">
{{modules.User(cuser,request.path)}}
</div>
</div>
</div>
<!--header end-->
<div class="wp yz-hp-top yz-hp-top-bg2">
<div class="wp yz-hp-top-bottomline"></div>
<div class="wp1000 yz-hp-top-bg cl">
<div class="w800 z mgt60 cl yz-hp-topct">
<a href="#"  class="yz-hp-avtbig z br5 bs"><img src="http://static.ueue.cc/www/img/common/avt2.jpg" alt="优意座标开发团队"/></a>
<div class="yz-hp-tp1">
<a href="#"  class="z yz-hp-nm chs">{{user.account}}</a><a href="#"  class="z yz-ver cp"><p class="yz-v-ct br5 bs"><span>文创人认证</span>范玮琪，歌手、香港知名艺人。</p></a><a href="#"  class="z yz-ver realname"><p class="yz-v-ct br5 bs"><span>已通过实名认证</span></p></a>
</div>
<div class="yz-hp-tp2">
<div><p class="yz-hp-tpadd z">北京</p><p class="female z">♀</p></div>
</div>
<div class="yz-hp-tp3">
<div><p class="yz-hp-tpjob z">歌手 + 词曲创作人 + 音乐制作人</p></div>
</div>

<div class="yz-hp-tp5">
<a href="/user/postevent" class="z br5 chs button-1">发布事件通告</a>
<a href="/user/postwork/video" class="z br5 chs button-1">发布展示作品</a>
</div>
<div class="yz-hp-tp6">
<p class="en z">Contact Me Here</p>
<div class="z"><a href="http://weibo.com/" target="_blank" class="z yz-csina" rel="nofollow"></a><a href="http://t.qq.com/" target="_blank" class="z yz-ctencent" rel="nofollow"></a><a href="#" class="z yz-cqq" rel="nofollow"></a><a href="http://www.renren.com/" target="_blank" class="z yz-crr" rel="nofollow"></a><a href="#" class="z yz-cqzone" rel="nofollow"></a><a href="#" class="z yz-cbean" rel="nofollow"></a></div>
</div>
</div>
<div class="w200 y mgt60 cl yz-hp-topnum">
<span class="yz-hp-ind en">9.67</span>
<ul class="yz-hp-indnm">

<li>
<p class="yz-hp-idn3">展示作品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a hidefocus="true" class="en">62</a></p>
</li>
<li>
<p class="yz-hp-idn5">发布事件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a hidefocus="true" class="en">47</a></p>
</li>
<li>
<p class="yz-hp-idn7">媒体报道&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a hidefocus="true" class="en">302</a></p>
</li>
<li>
<p class="yz-hp-idn6">得到支持&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a hidefocus="true" class="en">2679</a></p>
</li>
<li>
<p class="yz-hp-idn2">得到评论&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a hidefocus="true" class="en">488</a></p>
</li>


</ul>
</div>
</div>
</div>
<!--TOP END-->
<div class="wp1000 yz-hp-body cl">
<!--TIME LINE BEGAIN-->

<!--TIME LINE END-->

	<div class="w800 z cl">
<!--SHOW BEGAIN-->
		<ul class="yz-hp-followevent z mgt60 cl">
                   {% for row in rows %}
			<li>
				<a class="yz-hp-del"></a>
				<a class="z cl yz-hp-followevent-avt">
					<img src="http://static.ueue.cc/www/img/common/avt.jpg" alt="优意座标官方团队" width="80" height="80"/>				</a>
				<a href="/events/{{row.eid}}" target="_blank" class="z cl yz-hp-followevent-title chs">{{row.title}}</a>
				<a href="#" target="_blank" class="yz-hp-followevent-type z cl br5">{{row.type}}</a>
				<div class="z cl">
					<i class="en z cl">From&nbsp;&nbsp;</i><a href="#" target="_blank" class="yz-hp-followevent-name z cl">{{row.author}}</a>
					<p class="z cl yz-hp-followevent-time">
						<i class="en">At&nbsp;&nbsp;</i>{{row.time}}					
                                        </p>
				</div>
				<div class="z cl">
					<p class="z cl yz-hp-followevent-view">{{row.view}}</p>
					<p class="z cl yz-hp-followevent-report">{{row.agree}}</p>
					<p class="z cl yz-hp-followevent-discus">{{row.review}}</p>
				</div>
			</li>
		{% end %}	
			
			
			<!--TEST-->
			
			<!--<div class="yz-page y cl mgt40">
					<a href="#">&lt;</a><a href="#">1</a><a href="#" id="yz-page-focus">2</a><a href="#">3</a><a href="#">&gt;</a>		
			</div>-->
			
			
			
			
			

</ul>

<!--SHOW END-->
</div>
<div class="w200 y cl">
<ul class="yz-hp-nav z mgt60">
<li><a href="/{{user.uid}}/events">事件</a></li>
<li><a href="/{{user.uid}}/works">展示作品</a></li>
<li><a href="#">我关注的</a></li>
<li><a href="/{{user.uid}}/profile">资料＆联络</a></li>
<li><a href="#">回到顶部</a></li>
</ul>
</div>
</div>



<!--footer begain-->
<!--footer end-->
</body>
</html>
