<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<!--[if lt IE 9]><script src="http://www.html5china.com/templets/html5/scripts/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/index.css')}}">
<script type="text/javascript" src="{{static_url('JS/jquery-1.6.4.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/jquery.form-2.67.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/index.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/common.js')}}"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<! --header begain -->
{{modules.Header(cuser,request.uri)}}
<! --TOP END -->

<div class="ue-index-search wp1000 cl">
	<div class="ue-index-slide z cl">
		<ul>
			<li class="ue-index-slide-item">
				<a href="#">
					<img src="{{static_url('img/common/adds3.jpg')}}" alt="链接名称"/>
				</a>
			</li>
			<li class="ue-index-slide-item" style="displsy: none">
				<a href="#">
					<img src="{{static_url('img/common/adds4.jpg')}}" alt="链接名称"/>
				</a>
			</li>
			<li class="ue-index-slide-item" style="displsy: none">
				<a href="#">
					<img src="{{static_url('img/common/adds5.jpg')}}" alt="链接名称"/>
				</a>
			</li>
		</ul>
		<div class="ue-slide-scoll">
			<a class="ue-slide-left z cl"></a>
			<a class="ue-slide-right y cl"></a>
		</div>
	</div>
	<div class="yz-search y cl mgt40">
		<div class="z cl">
			<ul class="yz-search-type z cl">
				<li  style="top: 0px;">
					<a class="yz-search-type-wk" title="搜作品"></a>
				</li>
				<li  style="top: 30px;">
					<a class="yz-search-type-rcd" title="搜记录"></a>
				</li>
				<li  style="top: 60px;">
					<a class="yz-search-type-usr" title="搜用户"></a>
				</li>
			</ul>
			<input class="yz-search-text z cl" type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='- 搜搜你感兴趣的 -';" onFocus="if(this.value=='- 搜搜你感兴趣的 -')value='';" value="- 搜搜你感兴趣的 -"/>
			<input class="yz-search-sub z cl" type="submit" value="">
		</div>
		<div class="ue-index-tags z cl">
			<div>
				<a href="#">写真</a>
				<a href="#">黑白摄影</a>
				<a href="#">视觉识别系统</a>
				<a href="#">VI</a>
				<a href="#">彩色</a>
				<a href="#">广州车展</a>
				<a href="#">首映式</a>
				<a href="#">写真</a>
				<a href="#">黑白摄影</a>
				<a href="#">视觉识别系统</a>
				<a href="#">VI</a>
				<a href="#">彩色</a>
				<a href="#">广州车展</a>
				<a href="#">首映式</a>
				<a href="#">写真</a>
				<a href="#">黑白摄影</a>
			
			</div>
		</div>
	</div>
</div>

<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
    	<div class="w200 z cl ue-left">
        	{{modules.UeDescribe()}}
        <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640">
					<p class="yz-idx-body-title-p">WORKS</p>
				</div>
				<ul class="cl yz-work-ul">
					{% for row in rows %}
					{{modules.WorkSearch(row)}}
					{% end %}
				</ul>
				<div class=" yz-idx-page">
					<a href="/works">
					查看更多<br>
					<span>VIEW MORE</span>
					</a>
				</div>
			</div>
			
		</div>
		<div class="w336 y cl">
			
            <div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">RECORDS</p>
					<a class="yz-idx-report" href="/records">MORE</a>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	{% for i in ls %}
			{{modules.IndexRecordli(i)}}
			{% end %}
                    </ul>
				</div>
			</div>
			<div class="z cl yz-idx-goodwork w336">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">THEY ARE HERE</p>
					<a class="yz-idx-report" href="/professional">MORE</a>
				</div>
				<div class="ue-user-right-list">
					<ul>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt1.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt2.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt4.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt1.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt2.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt4.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt1.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt2.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt4.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt8.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt3.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt7.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt5.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt6.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../static/img/common/avt.jpg" width="50" height="50" alt="姓名" title="姓名"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">COMMENTS</p>
				</div>
				<div class="mgt20 yz-idx-more">
					<ul class="cl">
                    	{% for j in rvls %}
			{{ modules.IndexReviewli(j) }}
			{% end %}
                    </ul>
				</div>
			</div>
				<!--AD-->
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="../../static/img/common/imgad.jpg">
			</div>
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="../../static/img/common/imgad (1).jpg">
			</div>
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="../../static/img/common/T1P8YZXb4fXXb1upjX.jpg">
			</div>
				<!--AD-->
			</div>
		</div>

	</div>





<!--SHOW END-->
	<div class="cl"></div>
	<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>
	</div>

<! --footer begain -->	

{{modules.MainFooter()}}

<! --footer end -->


<script type="text/javascript">
  var indexurl=new Array();
  indexurl[0]="/index?tab=works";
  indexurl[1]="/index?tab=events";
  indexurl[2]="/index?tab=professional";
  indexurl[3]="/index?tab=album";

  var classset={
      "0":{"parent":"#ue-idx-work-list li","child":".ue-list-work-info","top1":'160',"top2":"251"},
      "2":{"parent":"#ue-idx-member-list li","child":".ue-list-member-info","top1":'110',"top2":"201"}
  }
               
$(document).ready(function(){
	/*var myitems=new Array();
	myitems[0]=1;
	myitems[1]=2;
	myitems[2]=3;
    showSideBar(myitems);*/          
  $(".ue-banner-right").click(function(){
      
  })
  $(".ue-banner-left").click(function(){
      
  })
  $(".ue-nav a").click(function(){
     var key=$(this).attr("index");
     var idx=parseInt(key);
     if(!$(this).hasClass("ue-nav-on")){
         $(".ue-nav").find(".ue-nav-on").removeClass("ue-nav-on").addClass("ue-nav-off");
         $(this).removeClass("ue-nav-off").addClass("ue-nav-on");
         var settings={
             url:indexurl[idx],
             type:"get",
             success:function(html){
                        $("#idx-tab-content").html(html);
                     }
         }
         $.ajax(settings);
     }
  })
})
</script>


</body>
</html>
