<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"> 
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
</head>
<body>
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
	  <div class="w200 z cl ue-left">
	    {{modules.UeDescribe()}}
	    <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">机构&人才</p>
				</div>
				<ul class="ue-user-list z cl">
				{% for row in rows %}
                                    {{modules.UserSearch(row)}}
                                {% end %}
				</ul>
				<div class="z cl yz-idx-page">
					<a>
					查看更多<br>
					<span>VIEW MORE</span>
					</a>
				</div>
			</div>		
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-goodwork w336">
				<div class="w336 yz-idx-title cl">
					<p class="z cl en1">THEY ARE HERE</p>
				</div>
				<div class="ue-user-right-list">
					<ul>
					  {% for u in users %}
						<li>
							<a href="/{{u.uid}}">
								<img src="{{u.img}}" width="50" height="50" alt="{{u.account}}" title="{{u.account}}"/>
							</a>
						</li>
					  {% end %}
					</ul>
				</div>
			</div>
				<!--AD-->
			{{modules.MainRightAd()}}
				<!--AD-->
			</div>
		</div>
	</div>
</div>
<!--SHOW END-->
<div class="cl"></div>
<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>
</div>
{{modules.MainFooter(tips)}}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
