<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"> 
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
</head>
<body>
<!--header begain-->
{{modules.Header(cuser,request.uri)}}
<!--header end-->
<!--TOP BEGAIN-->
	<div class="yz-idx-top wp1000 mgt40">
		<div class="z cl">
			<a href="#" target="_blank">
				<img src="http://static.ueue.cc/www/img/common/adds1.jpg" alt="广告描述" width="460" height="90"/>
			</a>
		</div>
		<div class="y cl">
			<a href="#" target="_blank">
				<img src="http://static.ueue.cc/www/img/common/addr.jpg" alt="BAIDU广告"/>
			</a>
		</div>
	</div>
</div>
<!--TOP END-->
<!--SEARCH BEGAIN-->

<div class="yz-idx-search wp1000">
<div class="yz-idx-user-search-tag z cl">
	<div class="ue-search-user-left z cl">
		<p>
			所在地区 > <span>全国</span> ▼
		</p>
		<div class="ue-search-user-nav">	
						<a href="/professional?area=0">全国</a>
						<a href="/professional?area=0">北京</a>
						<a href="/professional?area=1">上海</a>
						<a href="/professional?area=2">天津</a>
						<a href="/professional?area=3">重庆</a>
						<a href="/professional?area=4">安徽</a>
						<a href="/professional?area=5">福建</a>
						<a href="/professional?area=6">广东</a>
						<a href="/professional?area=7">甘肃</a>
						<a href="/professional?area=8">广西</a>
						<a href="/professional?area=9">贵州</a>
						<a href="/professional?area=10">河北</a>
						<a href="/professional?area=11">湖北</a>
						<a href="/professional?area=12">黑龙江</a>
						<a href="/professional?area=13">海南</a>
						<a href="/professional?area=14">河南</a>
						<a href="/professional?area=15">湖南</a>
						<a href="/professional?area=16">吉林</a>
						<a href="/professional?area=17">江苏</a>
						<a href="/professional?area=18">江西</a>
						<a href="/professional?area=19">辽宁</a>
						<a href="/professional?area=20">四川</a>
						<a href="/professional?area=21">山东</a>
						<a href="/professional?area=22">山西</a>
						<a href="/professional?area=23">陕西</a>
						<a href="/professional?area=24">内蒙古</a>
						<a href="/professional?area=25">宁夏</a>
						<a href="/professional?area=26">青海</a>
						<a href="/professional?area=27">新疆</a>
						<a href="/professional?area=28">西藏</a>
						<a href="/professional?area=29">云南</a>
						<a href="/professional?area=30">浙江</a>
						<a href="/professional?area=31">台湾</a>
						<a href="/professional?area=32">香港</a>
						<a href="/professional?area=33">澳门</a>
						<a href="/professional?area=34">海外</a>
		</div>
	</div>
	<div class="ue-search-right y cl">
		<a href="#" class="active">全部行业</a>
		<a href="#">演员&amp;模特</a>
		<a href="#">影视幕后</a>
		<a href="#">音乐&amp;制作</a>
		<a href="#">摄影&amp;造型</a>
		<a href="#">设计创意</a>
		<a href="#">广告传媒</a>
		<a href="#">其他行业</a>
	</div>
</div>
	<div class="yz-search y cl mgt40">
		<div class="z cl">
			<ul class="yz-search-type z cl">
				<li  style="top: 0px;">
                                        <a class="yz-search-type-usr" title="搜用户"></a>
				</li>
				<li  style="top: 30px;">
					<a class="yz-search-type-rcd" title="搜记录"></a>
				</li>
				<li  style="top: 60px;">
					<a class="yz-search-type-wk" title="搜作品"></a>
				</li>
			</ul>
			<input class="yz-search-text z cl" type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='- 搜搜你感兴趣的 -';" onFocus="if(this.value=='- 搜搜你感兴趣的 -')value='';" value="- 搜搜你感兴趣的 -"/>
			<input class="yz-search-sub z cl" type="submit" value="">
		</div>
	</div>
</div>
<!--SEARCH LINE END-->
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
	  <div class="w200 z cl ue-left">
	    {{modules.UeDescribe()}}
	    <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body w640 z cl">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">机构&人才</p>
				</div>
				<ul class="ue-user-list z cl">
				{% for row in rows %}
                                    {{modules.UserSearch(row)}}
                                {% end %}
				</ul>
				<div class="z cl yz-idx-page">
					<a>
					查看更多<br>
					<span>VIEW MORE</span>
					</a>
				</div>
			</div>		
		</div>
		<div class="w336 y cl">
			<div class="z cl yz-idx-goodwork w336">
				<div class="w336 yz-idx-title cl">
					<p class="z cl en1">THEY ARE HERE</p>
				</div>
				<div class="ue-user-right-list">
					<ul>
					  {% for u in users %}
						<li>
							<a href="/{{u.uid}}">
								<img src="{{u.img}}" width="50" height="50" alt="{{u.account}}" title="{{u.account}}"/>
							</a>
						</li>
					  {% end %}
					</ul>
				</div>
			</div>
				<!--AD-->
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="http://static.ueue.cc/www/img/common/imgad.jpg">
			</div>
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="http://static.ueue.cc/www/img/common/imgad (1).jpg">
			</div>
			<div class="z cl yz-ad-336-280 mgt20">
				<img src="http://static.ueue.cc/www/img/common/T1P8YZXb4fXXb1upjX.jpg">
			</div>
				<!--AD-->
			</div>
		</div>
	</div>
</div>




<!--SHOW END-->

<div class="cl"></div>
<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>
	
	</div>
<!--footer begain-->
{{modules.MainFooter(tips)}}		
<!--footer end-->

<script type="text/javascript">

$(".yz-idx-show-search-tag li a").click(function(event){
        event.preventDefault();
        $(".yz-idx-line").show();
        if(!$(".yz-idx-line").find(".yz-idx-line-p").text()) $(".yz-idx-line").children().append("<div class='z cl yz-idx-line-p'></div>");
        var url=$(this).attr("href");
        var text=$(this).text();
        var data=url.split("?")[1];
        var which=data.split("=")[0];
        var cls="yz-work-lable-"+which;
        var ncls="."+cls;
        if($(".yz-idx-line-p").find(ncls).text()){
            $(ncls).text(text);
            $(ncls).next().attr("data",data);
            eventrqturl=eventrqturl.replace(which+"=([0-9]+)",data);
        }
        else{
            var lable="<p>\
		                <span class='"+cls+"'>"+text+"</span>\
				<a data='"+data+"'></a>\
		       </p>";
            $(lable).appendTo(".yz-idx-line-p");
            $(".yz-idx-line-p p a").last().bind("click",labledel);
            if(eventrqturl.indexOf("?")==-1) eventrqturl+="?"+data;
            else eventrqturl+="&"+data;
        }
        var settings={
            url:eventrqturl,
            type:"get",
            dataType:"json",
            success:function(result){
                     if(result.status){
                       $(".yz-work-ul").html(result.data);
                     }
                     else alert("加载失败，请重试");
                     }
        }
        $.ajax(settings);
     })


</script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
