<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"> 
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/miniSlider.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/index.js"></script>

</head>
<body>
{{modules.SearchTag()}}
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
	  <div class="w200 z cl ue-left">
        	{{modules.UeDescribe()}}
        <div style="padding-top: 25px;border-top:1px solid #ccc;">
			<wb:follow-button uid="2707118293" type="red_2" width="136" height="24" ></wb:follow-button>
		</div>
        </div>
		<div class="w640 z cl ue-middle">
			<div class="yz-idx-body-body  w640 z cl">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">作品云集</p>
                    <i class="search-tag" title="换个标签"></i>
				</div>
				<ul class="z cl yz-work-ul">
                                        {% for one in rows %}{{ modules.WorkSearch(one) }}{% end %}
				</ul>
				<div class="z cl yz-idx-page">
					<a>
					查看更多<br/>
					<span>VIEW MORE</span>
					</a>
				</div>
			</div>
		</div>
		<div class="w336 y cl">
			<div id="main" class="z cl yz-idx-goodwork w336">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">GOOD JOB</p>
            		<input type="button" class="yz-idx-slider-left">
					<input type="button" class="yz-idx-slider-right">
				</div>
				<div id="main-inner" class="yz-idx-goodwork-box z cl">					
					<ul id="slider" class="yz-idx-goodwork-ul" style=" left: 0px;">						
						<li>
							<div class="yz-idx-gw-pic z cl">
								<a href="#" class="yz-idx-gw1 z cl">
									<img src="http://static.ueue.cc/www/img/linshi/work1.jpg" alt="作品名" width="296"/>
								</a>
								<span></span>
							</div>
							<p class="yz-idx-gw-by z cl">
								来自<a href="#" target="_blank">Face.工作室</a>
							</p>	
							<p class="yz-idx-gw-title z cl">
								<a href="#">望青天作品打成</a>
							</p>
						</li>
						<li>
							<div class="yz-idx-gw-pic z cl">
								<a href="#" class="yz-idx-gw1 z cl">
									<img src="http://static.ueue.cc/www/img/linshi/work5.jpg" alt="作品名" width="296"/>
								</a>
								<span></span>
							</div>
							<p class="yz-idx-gw-by z cl">
								来自<a href="#" target="_blank">Wong.工作室</a>
							</p>	
							<p class="yz-idx-gw-title z cl">
								<a href="#">展示阿斯顿发多少发送到发送到</a>
							</p>
						</li>
						<li>
							<div class="yz-idx-gw-pic z cl">
								<a href="#" class="yz-idx-gw1 z cl">
									<img src="http://static.ueue.cc/www/img/linshi/work4.jpg" alt="作品名" width="296"/>
								</a>
								<span></span>
							</div>
							<p class="yz-idx-gw-by z cl">
								来自<a href="#" target="_blank">Yu.工作室</a>
							</p>	
							<p class="yz-idx-gw-title z cl">
								<a href="#">展示作品的名称在这里显示长度大概是这样的</a>
							</p>
						</li>
						<li>
							<div class="yz-idx-gw-pic z cl">
								<a href="#" class="yz-idx-gw1 z cl">
									<img src="http://static.ueue.cc/www/img/linshi/work3.jpg" alt="作品名" width="296"/>
								</a>
								<span></span>
							</div>
							<p class="yz-idx-gw-by z cl">
								来自<a href="#" target="_blank">Face.工作室</a>
							</p>	
							<p class="yz-idx-gw-title z cl">
								<a href="#">望青天作品打成</a>
							</p>
						</li>
						<li>
							<div class="yz-idx-gw-pic z cl">
								<a href="#" class="yz-idx-gw1 z cl">
									<img src="http://static.ueue.cc/www/img/linshi/work2.jpg" alt="作品名" width="296"/>
								</a>
								<span></span>
							</div>
							<p class="yz-idx-gw-by z cl">
								来自<a href="#" target="_blank">Wong.工作室</a>
							</p>	
							<p class="yz-idx-gw-title z cl">
								<a href="#">展示阿斯顿发多少发送到发送到</a>
							</p>
						</li>					 
					</ul>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">COMMENTS</p>
				</div>
				<div class="mgt10 yz-idx-more">
					<ul class="cl">
					  {% for j in rvls %}
					  {{ modules.IndexReviewli(j,'work') }}
					  {% end %}
					</ul>
				</div>
			</div>
				<!--AD-->
			{{modules.MainRightAd()}}
				<!--AD-->
			</div>
		</div>
	</div>
<script type="text/javascript">
  $(document).ready(function(){
     requesttype=0;
     var picindex=0;
     var picmax=5;
     $(".yz-idx-calendar-left").click(function(){
        $(".yz-idx-goodwork-point li").eq(picindex).removeClass("gw-pton");
        picindex-=1;
        if(picindex < 0) picindex=4;
        $(".yz-idx-goodwork-point li").eq(picindex).addClass("gw-pton");
     })
     $(".yz-idx-calendar-right").click(function(){
        $(".yz-idx-goodwork-point li").eq(picindex).removeClass("gw-pton");
        picindex+=1;
        if(picindex >= 5) picindex=0;
        $(".yz-idx-goodwork-point li").eq(picindex).addClass("gw-pton");
     })
  })
</script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('#slider').miniSlider();
	$('.current-pagination').addClass('gw-pton');
})
</script>
<div class="cl"></div>
	<div class="ue-bottomnav wp1000">
	<a href="/works">作品云集 / WORKS SHOW</a>
	<a href="/records">记录 / RECORDS</a>
	<a href="/professional">机构&amp;人才 / Inc.&amp;PRO.</a>
	<a href="/album">专辑 / ALBUM</a>
	<a href="/vane">风向标 / UE VANE</a>	
</div>
{{modules.MainFooter(tips)}}
</body>
</html>
