<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™职业生涯全纪录</title>
<meta name="keywords" content="中国优秀文创人,文创人,文创机构,媒体人,优意座标,职业生涯,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/index.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/content.js"></script>
</head>
<body>
{{modules.Header(cuser,request.uri)}}
{{modules.MainTopAd()}}
<!--SHOW BEGAIN-->
<div class="yz-idx-body z cl">
	<div class="wp1000 cl ue-all mgt40">
<!--左侧内容-->
<div class="w200 z cl ue-left">
            	{{modules.UeDescribe()}}
                <div class="yz-idx-share w200">
					<p><span class="z cl">分享到</span><a href="#" class="z yz-csina cl" rel="nofollow"></a><a href="#" class="z cl yz-ctencent" rel="nofollow"></a></p>
				</div>
        </div>
		<div class="w640 z cl ue-middle">
<!--展示内容-->
			<div class="w640 z cl showct-ctbody">
				<div class="showct-ct-title w640 z cl">
					<p class="showct-ct-title-p z cl chs">{{row.title}}</p>
				</div>
				<div class="z cl showct-ct">
					<div class="showct-ct-shipin z cl">
						<embed src='{{row.content}}' allowFullScreen='true' quality='high' width='600' height='500' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
					</div>
					
					<div class="z cl showct-ct-direction mgt20">
					        {{row.wdescribe}}
					</div>
	<!--TEST END-->
				</div>
				<div class="showct-ct-surpot z cl mgt40">
					<span class="z cl showct-ct-surpot-num en">{{row.support}}</span>
						<a class="y cl showct-ct-surpot-icon-on"></a>
				</div>
			</div>
<!--AD-->
			<div class="z cl yz-ad-640-60 mgt20">
				<img src="http://static.ueue.cc/www/img/common/79b4c46696320828efe7e6b5aaf5e669.jpg"/>
			</div>

<!--评论-->
			<div class="yz-idx-module-discus z cl mgt20 w640">
				<div class="yz-idx-body-title w640 z cl">
					<p class="yz-idx-body-title-p z cl chs">COMMENTS</p>
				</div>
				<div class="z cl yz-idx-module-discusbox">
                                     <form method="post" action="" id="event-review-f">
                                        {{xsrf_form_html()}}
					<div class="yz-idx-module-discus-ta z cl">
					<textarea class="inputtxtnum z cl" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='GOOD JOB!';" onFocus="if(this.value=='GOOD JOB!')value='';" value="GOOD JOB!" id="review-content-tx" name="rcontent">GOOD JOB!</textarea>
					</div>
					<input type="submit" value="发言" class="yz-idx-module-discus-sub br5 mgt10 y cl">
                                     </form>
				</div>
				{{modules.UserReviewList(reviews)}}
			</div>	
		</div>
<!--右侧边栏-->
		<div class="w336 y cl">
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">Project By</p>
				</div>
				<div class="yz-idx-by z cl mgt20">
					<a href="/{{row.uid}}" target="_blank" class="y cl">
						<img src="{{row.img}}" alt="{{row.account}}" width="100px" height="100px"/>
					</a>
					<a href="/{{row.uid}}" target="_blank" class="z cl yz-idx-by1">{{row.account}}</a>
					<span class="z cl yz-idx-by2">人像摄影+广告摄影+图片后期</span>
					<p class="z cl yz-idx-by-ver">Professional Org.</p>
				</div>
				<div class="z cl">
					<a href="#" class="z cl yz-idx-right-button ue-remember-people" title="记住Ta">
					</a>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title z cl">
					<p class="z cl en1">About Project</p>
				</div>
				<div class="z cl mgt20 yz-idx-info">
					<p class="z cl yz-idx-info-view">阅览<span class="y cl">{{row.view}}</span></p>
					<p class="z cl yz-idx-info-follow">关注<span class="y cl">0</span></p>
					<p class="z cl yz-idx-info-surpot">支持<span class="y cl">{{row.support}}</span></p>
					<p class="z cl yz-idx-info-discus">评论<span class="y cl">{{row.review}}</span></p>
					<p class="z cl yz-idx-info-cc">授权<span class="y cl"><a href="#" target="_blank">{{copysign}}</a></span></p>
					<p class="z cl yz-idx-info-tags">标签
                                         <span class="y cl">{% for lb in row.lable.split(",") %}<a href="/works?lable={{url_escape(lb)}}" target="_blank">#{{lb}}</a>{% end %}</span>
				</div>
				<div class="z cl">
				<a href="#" class="z cl yz-idx-right-button ue-remember-work" title="记住这个作品">
				</a>
				</div>
			</div>
			<div class="z cl yz-idx-right">
				<div class="w336 yz-idx-title">
					<p class="z cl en1">MORE</p>
				</div>
				<div class="mgt10 ue-work-more">
					<ul class="cl">
                    	<li class="ue-more-pic">
                        	<a href="#">
                            	<img src="http://static.ueue.cc/www/img/common/show3.jpg" width="145" alt="作品名称">
                            </a>
                        </li>
                        <li class="ue-more-video">
                        	<a href="#">
                            	<img src="http://static.ueue.cc/www/img/common/show3.jpg" width="145" alt="作品名称">
                                <span></span>
                            </a>
                        </li>
                        <li class="ue-more-txt">
                        	<a href="#">
                            	<p>范玮琪（Fan Fan/Christine）本名范伟琪，美籍华裔歌手、基督教徒。出生于美国俄亥俄州。范玮琪于六岁时返回台湾念书，曾在台中晓明女中就读国中，至高中又返回美国继续学业，开始在洛杉矶波莫纳大学主修税法，之后至大学二年级转学到哈佛社</p>
                            </a>
                        </li>
                        <li class="ue-more-voice">
                        	<a href="#">
                            	<span></span>
                            </a>
                        </li>
                        
                    </ul>
				</div>
			</div>
			{{modules.MainRightAd()}}
		</div>
	</div>
</div>
<!--SHOW END-->
<div class="cl"></div>
<!--footer begain-->
{{modules.MainFooter(tips)}}		
<!--footer end-->
</body>
</html>
