<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>注册账户 | 优意座标™</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<!--[if lt IE 9]><script src="http://www.html5china.com/templets/html5/scripts/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/register.css')}}">
</head>
<body class="rg-body">
<div class="wp1000">
        <div class="rg-head">
		<div>
			<p class="rg-head-title">成功注册优意座标™会员</p>
			<p class="rg-head-title-en">Successfully Registered</p>
		</div>
	</div>
	<div class="rg-box-done">
		<p class="en">Congratulations!</p>
		<p>恭喜您成功注册成为优意座标™会员!</p>
	</div>
	<div class="rg-btn cl">
		<input type="submit" value="开始我的生涯" class="rg-btn1 cl" onclick="location.href='/user/action/init';" />
	</div>
</div>
</body>
</html>
