<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>注册账户 | 优意座标™</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<!--[if lt IE 9]><script src="http://www.html5china.com/templets/html5/scripts/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/register.css')}}">
<script type="text/javascript" src="{{static_url('JS/jquery-1.6.4.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/jquery.form-2.67.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/reg.js')}}"></script>
</head>
<body class="rg-body">
<div class="wp1000">
    <form method="post" action="/user/action/signup" id="yoez_reg_f">
    {{ xsrf_form_html() }}
	<div class="rg-head">
	  <div class="rg-head-logo">
	    <a href="http://www.ueue.cc" class="z cl">
	    </a>
	  </div>
		<div class="rg-head-titlebox">
			<p class="rg-head-title">您注册成为优意座标™会员</p>
			<p class="rg-head-title-en">Sign Up</p>
		</div>
	</div>
	<div class="rg-login mgt40 y cl">
			<p class="chs z cl">也可以使用合作账号登入</p>
			<a href="#" class="rg-login-sina z cl"></a>
			<a href="#" class="rg-login-tencent z cl"></a>
		</div>
	<div class="rg-box">
			<div class="rg-email z cl">
				<input type="text" name="email"/>
                                <span>邮箱 / E-mail</span>
			</div>
			<p class="rg-text rg-email-t">填入一个常用的邮箱</p>

			<div class="rg-nic z cl">
				<input type="text" name="nick" />
                                <span>昵称 / Nickname(最多8个字)</span>
			</div>
			<p class="rg-text z cl rg-nic-t">我们建议使用真实姓名以便知晓和联络</p>

			<div class="rg-psw z cl">
				<input type="password" name="password" />
                                <span>密码 / Password</span>
			</div>
			<p class="rg-text rg-psw-t">密码不要少于6位</p>

			<div class="rg-rep z cl">
				<input type="password"  />
                                <span>重复密码 / Repeat</span>
			</div>
			<p class="rg-text rg-rep-t"></p>

		<div class="rg-agreement">
			<span class="rg-agreement-checkbox z cl"></span><p class="z cl chs">我已阅读并接受<a href="/user/aggrement" target="_blank">《优意座标网用户协议》</a>的相关条款</p>
		</div>
	</div>
	<div class="rg-btn cl">
		<input type="submit" id="yoez_submit" value="继续，下一步" class="rg-btn1 y cl mgt40 chs1"/>
	</div>
	</form>
</div>
<div id="loading" style="display:none;">
	<div></div>
</div>
</body>
</html>
