<div class="wp1000">
        <div class="rg-head">
	<div class="rg-head-logo">
	    <a href="http://www.ueue.cc" class="z cl">
	    </a>
	  </div>
		<div class="rg-head-titlebox">
			<p class="rg-head-title">您正在验证注册邮箱的正确性</p>
			<p class="rg-head-title-en">Verify Your E-mail</p>
		</div>
	</div>
	<div class="rg-box-email">
		<p>尊敬的会员{{actname}} :</p>
		<p>系统已向您的注册邮箱发送了一份确认函，请您接收并确认。</p>
		<p>如果您未收到确认函请 <a href="/user/action/resendmail?code={{code}}">点击这里重新发送</a> 或查看垃圾邮件。</p>
	</div>
	<div class="rg-btn cl">
		<input type="submit" value="前往邮箱确认" class="rg-btn1" onclick="window.open('http://{{mailpath}}');" />
	</div>
</div>
