<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标|UEUE.CC-文创行业职业生涯记录</title>
<meta name="keywords" content="" />
<meta name="description" content="优意座标管理后台" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/other.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script src="http://static.ueue.cc/www/js/jquery.scrollTo-min.js"></script> 
<script>
 	$(document).ready(function() {
  
  //--------------------------scrollTo------------------------------//  
      
  $('a.scrollTo').click(function(e){
										  
	// If a link has been clicked, scroll the page to the link's hash target:
		
	$.scrollTo( this.hash || 0, 300, {offset:0} );
	
  });
 });
</script>

</head>
<body>
<!--header begain-->
<div class="ue-othr-header wp">
	<div class="ue-othr-header-mid wp1000">
		<div class="z cl ue-othr-logo-area">
			<span class="z cl ue-othr-logo">
			</span>
			<span class="ue-othr-maintitle">
				一分钟知晓我们
			</span>
		</div>
		<div class="y cl ue-othr-nav">
			<ul class="ue-othr-nav1 y cl">
				<li>
					<a href="#">我了解优意座标</a>
				</li>
				<li>
					<a href="#">愉快的合作</a>
				</li>
				<li>
					<a href="#">这些会用到</a>
				</li>
				<li>
					<a href="#">还有其他</a>
				</li>
			</ul>
			<ul class="ue-othr-nav2">
				<li>
					<a href="#">官方新浪微博</a>
				</li>
				<li>
					<a href="#">一分钟知晓我们</a>
				</li>
				<li>
					<a href="#">合作伙伴</a>
				</li>
				<li>
					<a href="#">我们经历过</a>
				</li>
			</ul>
		</div>
	</div>	
</div>
<div class="wp1000">
	<div id="1" class="z cl">
		<div class="ue-othr-tt z cl">
			<p class="ue-othr-title">在优意座标可以做什么？</p>
			<p class="ue-othr-title-en">WHAT'S UEUE.CC</p>
		</div>	
		<div class="ue-othr-knowus-1 z cl">
			<div class="z cl ue-othr-knowus-1-pic">
			</div>
			<div class="y cl ue-othr-knowus-1-text">
				<h1>完美的文创职业生涯从点滴记录开始</h1>
				<p>所有的文创人、媒体人、文创专业机构在这里只做两件事—记录和发现。<br/>不管是曾经还是最新的作品，抑或工作日程、每一次的获奖经历、为公益做出的每一份贡献、执笔的每一篇报道等等等等，让自己的职业生涯不再缺失片段。<br/>优意座标同时放开了最大的搜索尺度，所有你想展示的将统统列入了搜索的范畴，忘记编辑推荐，忘记付费推广，足够优秀的你可以更快更多的被搜索到。<br/>我们把对作品优秀与否的评价权利交给了所有的行业内的USER们，优秀是需要用作品说话的，我们期待着每一位USER的进步。</p>
			</div>
		</div>
		<div class="z cl ue-othr-scollbtn" style="padding-bottom: 800px;">
			<a href="#2" class="scrollTo"></a>
		</div>
	</div>
	<div id="2" class="z cl">
		<div class="ue-othr-tt z cl">
			<p class="ue-othr-title">尝试更好的免费体验</p>
			<p class="ue-othr-title-en">OUR FREE UEUE.CC</p>
		</div>	
		<div class="z cl ue-othr-knowus-2">
			<div class="one-third">
			  <h2>文创人</h2>
				   <p>拥有足够自主的发布权限<br/>通过对条件的筛选可以被所有人搜索到<br/>获取更多的经验分享<br/>随时准备好参加我们的访谈<br/>优秀的文创人不仅体现在人气上</p> 
			</div>
			<div class="one-third">
			  <h2>媒体人</h2>
				   <p>独享发布媒体报道的权限<br/>为你的报道带来更多的观众<br/>一篇报道可以在传播的同时为其他USER带来更多好处<br/>我们会为某些优秀的报道支付稿费<br/>我们欢迎媒体人的加入并给予更多支持</p> 
			</div>
			<div class="one-third">
			  <h2>专业机构</h2>
				   <p>独享免费发布机构招募的权限<br/>独享免费发布赛事活动的权限<br/>发现更多人才为己所用<br/>获得更高的曝光率和认可度带来营收的增长<br/>我们欢迎有责任感的机构加入并给予更多支持</p> 
			</div>
		</div>
		<div class="z cl ue-othr-scollbtn" style="padding-bottom: 800px;">
			<a href="#3" class="scrollTo"></a>
		</div>
	</div>
	<div id="3" class="z cl">
		<div class="ue-othr-tt z cl">
			<p class="ue-othr-title">优意座标团队的态度</p>
			<p class="ue-othr-title-en">ATTITUDE OF UE TEAM</p>
		</div>	
		<div class="ue-othr-knowus-3 z cl">
			<div class="y cl ue-othr-knowus-3-pic">
			</div>
			<div class="z cl ue-othr-knowus-3-text">
				<h1>比起作品，我们更看重人品</h1>
				<p>经过一番激烈的讨论我们决定提供更宽松的发布体验，放弃了N多的条目填写，也没有对发布规则进行过多限定。这么做是为了让用户得到更良好的发布体验，同时我们也深知这样做将给我们带来更大的审核工作的压力，但我们认为这样做是值得的。所以，恳请各位USER珍惜自己的账号，不要发布一些无聊的广告、与文创行业无关的内容或是回复谩骂之词，对于这种行为将不被优意座标团队所接收并且绝不姑息。</p>
			</div>
		</div>
	</div>
	<div class="z cl ue-othr-end">
		<p>THANKS FOR WATCH!</p>
	</div>
<div class="cl"></div>
</div>

<div class="ue-othr-footer z cl">
	<div class="wp1000">
		<div class="ue-sitemap">
			<div class="ue-sitemap-tt z cl">
				<h2>SiteMap</h2>
			</div>
			<div class="ue-sitemap1 z cl">
				<a href="#">作品展示/WORKS</a>
				<a href="#">记录通告/RECORDER</a>
				<a href="#">机构&amp;人才/Inc.&amp;Pro.</a>
				<a href="#">专辑/ABLUM</a>
				<a href="#">风向标/UE VANE</a>
				<a href="#">注册/SIGN UP</a>
				<a href="#">登入/LOGIN</a>
			</div>
			<div class="ue-sitemap2 z cl">
				<a href="#">一分钟知晓我们</a>
				<a href="#">合作伙伴</a>
				<a href="#">我们经历过</a>
				<a href="#">商业广告合作</a>
				<a href="#">大赛媒体支持</a>
				<a href="#">来参加我们的访谈</a>
				<a href="#">为公益赞助</a>
				<a href="#">优意知识文档</a>
				<a href="#">郑重声明</a>
				<a href="#">注册协议</a>
				<a href="#">知识共享协议</a>
				<a href="#">欢迎你来一起工作</a>
			</div>
			<div class="ue-sitemap1 z cl">
				<a href="#" target="_blank">&copy;UE TEAM</a>
				<a href="#" target="_blank">京ICP备1101954120</a>
				<a href="#" target="_blank">京公网安备110108003246号</a>
			</div>
		</div>
	</div>
</div>
<!--footer begain-->
<!--footer end-->
</body>
</html>
