<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标|UEUE.CC-文创行业职业生涯记录</title>
<meta name="keywords" content="" />
<meta name="description" content="优意座标管理后台" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/other.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
</head>
<body>
<!--header begain-->
<div class="ue-othr-header wp">
	<div class="ue-othr-header-mid wp1000">
		<div class="z cl ue-othr-logo-area">
			<span class="z cl ue-othr-logo">
			</span>
			<span class="ue-othr-maintitle">
				合作伙伴
			</span>
		</div>
		<div class="y cl ue-othr-nav">
			<ul class="ue-othr-nav1 y cl">
				<li>
					<a href="#">我了解优意座标</a>
				</li>
				<li>
					<a href="#">愉快的合作</a>
				</li>
				<li>
					<a href="#">这些会用到</a>
				</li>
				<li>
					<a href="#">还有其他</a>
				</li>
			</ul>
			<ul class="ue-othr-nav2">
				<li>
					<a href="#">官方新浪微博</a>
				</li>
				<li>
					<a href="#">一分钟知晓我们</a>
				</li>
				<li>
					<a href="#">合作伙伴</a>
				</li>
				<li>
					<a href="#">我们经历过</a>
				</li>
			</ul>
		</div>
	</div>	
</div>
<div class="wp1000">
	<div class="ue-othr-tt z cl">
		<p class="ue-othr-title">感谢这些伙伴的支持</p>
		<p class="ue-othr-title-en">WEBLINK</p>
	</div>	
	<div style="padding-bottom: 800px;">
	</div>
</div>
<div class="ue-othr-footer z cl">
	<div class="wp1000">
		<div class="ue-sitemap">
			<div class="ue-sitemap-tt z cl">
				<h2>SiteMap</h2>
			</div>
			<div class="ue-sitemap1 z cl">
				<a href="#">作品展示/WORKS</a>
				<a href="#">记录通告/RECORDER</a>
				<a href="#">机构&amp;人才/Inc.&amp;Pro.</a>
				<a href="#">专辑/ABLUM</a>
				<a href="#">风向标/UE VANE</a>
				<a href="#">注册/SIGN UP</a>
				<a href="#">登入/LOGIN</a>
			</div>
			<div class="ue-sitemap2 z cl">
				<a href="#">一分钟知晓我们</a>
				<a href="#">合作伙伴</a>
				<a href="#">我们经历过</a>
				<a href="#">商业广告合作</a>
				<a href="#">大赛媒体支持</a>
				<a href="#">来参加我们的访谈</a>
				<a href="#">为公益赞助</a>
				<a href="#">优意知识文档</a>
				<a href="#">郑重声明</a>
				<a href="#">注册协议</a>
				<a href="#">知识共享协议</a>
				<a href="#">欢迎你来一起工作</a>
			</div>
			<div class="ue-sitemap1 z cl">
				<a href="#" target="_blank">&copy;UE TEAM</a>
				<a href="#" target="_blank">京ICP备1101954120</a>
				<a href="#" target="_blank">京公网安备110108003246号</a>
			</div>
		</div>
	</div>
</div>
<!--footer begain-->
<!--footer end-->
</body>
</html>