<div>
<div class="z cl yz-idx-calendar-title w336">
<div class="yz-idx-calendar-yearbox z cl">
<div class="yz-idx-calendar-yearbox-move">
<span class="yz-idx-calendar-year chs">{{year}}.{{mon}}</span>
<i class="yz-idx-calendar-year-en en">{{mchr}}.</i>
</div>
</div>
<input type="button" class="yz-idx-calendar-left" onclick='calendar_left()' />
<input type="button" class="yz-idx-calendar-right" onclick='calendar_right()' />
</div>
<div class="z cl yz-idx-calendar-week">
<span class="yz-idx-calendar-sun">Sun.</span><span>Mon.</span><span>Tue.</span><span>Wed.</span><span>Thu.</span><span>Fri.</span><span>Sat.</span>
</div>
<div class="z cl yz-idx-calendar-datebox">
<div class="yz-idx-calendar-date">
{% if begin!=6 %}{% for i in range(0,begin+1) %}<a></a>{% end %}{% end %}
{% for j in cal %}
      <a class="date-have">{{j}}</a>
{% end %}
</div>
</div>
</div>
