<!--标签样式区别于搜索页，余总单独搞个模块吧-->
 <div class="ue-stag" style="display: none;">
	<div class="ue-stag-box br5">
		<a class="ue-stag-drop"></a>
        <a class="ue-stag-ok"></a>  
        <div class="z cl">
            <p class="ue-stag-maintitle">添加分类标签<span>(最多添加5个)</span></p>
          
            <div class="ue-stag-normal z cl">
            	<div class="ue-design z cl">
                	<div class="z cl">
						<span>设计创意</span>
                        <a class="ue-tag-item" href="/">平面设计</a>
                        <a class="ue-tag-item" href="/">工业设计</a>
                        <a class="ue-tag-item" href="/">建筑</a>     
                        <a class="ue-tag-item" href="/">交互设计</a>  
                        <a class="ue-tag-item" href="/">漫画</a>
                        <a class="ue-tag-item" href="/">服装设计</a>
                        <a class="ue-tag-item" href="/">手绘</a>
                        <a class="ue-tag-item" href="/">家具设计</a>
                        <a class="ue-tag-item" href="/">游戏设计</a>
                        <a class="ue-tag-item" href="/">涂鸦</a>
                        <a class="ue-tag-item" href="/">插画</a>
                        <a class="ue-tag-item" href="/">室内设计</a>
                        <a class="ue-tag-item" href="/">产品设计</a>
                        <a href="/" class="ue-tag-item tag-chosen">纺织品设计</a>
                        <a class="ue-tag-item" href="/">玩具设计</a>
                        <a class="ue-tag-item" href="/">用户体验</a> 
                        <a class="ue-tag-item" href="/">图标设计</a>
                        <a class="ue-tag-item" href="/">珠宝设计</a>    
                        <a class="ue-tag-item" href="/">图案设计</a>     
                        <a class="ue-tag-item" href="/">创意相关</a>                	
                    </div>
                   </div>
                    <div class="z cl">
						<span>演员&amp;模特</span>
                        <a class="ue-tag-item" href="/">模特儿</a>
                        <a class="ue-tag-item" href="/">表演艺术</a>     
                        <a class="ue-tag-item" href="/">舞蹈</a>  
                        <a class="ue-tag-item" href="/">魔术</a>
                        <a class="ue-tag-item" href="/">曲艺</a>                            	
                    </div>
                    <div class="z cl">
						<span>影视幕后</span>
                        <a class="ue-tag-item" href="/">导演</a>
                        <a class="ue-tag-item" href="/">动画</a>
                        <a class="ue-tag-item" href="/">场景设计</a>     
                        <a class="ue-tag-item" href="/">编剧</a>  
                        <a class="ue-tag-item" href="/">电影</a>
                        <a class="ue-tag-item" href="/">美术</a>
                        <a class="ue-tag-item" href="/">摄像</a>
                        <a class="ue-tag-item" href="/">配音</a>                                	
                    </div>
                	<div class="z cl">
						<span>摄影&amp;造型</span>
                        <a class="ue-tag-item" href="/">摄影</a>
                        <a class="ue-tag-item" href="/">新闻摄影</a>
                        <a class="ue-tag-item" href="/">图片后期</a>     
                        <a class="ue-tag-item" href="/">造型</a>                          	
                    </div>   
                     <div class="z cl">
						<span>音乐&amp;制作</span>
                        <a class="ue-tag-item" href="/">演唱</a>
                        <a class="ue-tag-item" href="/">艺术指导</a>
                        <a class="ue-tag-item" href="/">编曲</a>
                        <a class="ue-tag-item" href="/">音乐</a>     
                        <a class="ue-tag-item" href="/">词曲</a>                          	
                    </div>           
                    <div class="z cl">
						<span>广告传媒</span>
                        <a class="ue-tag-item" href="/">品牌</a>
                        <a class="ue-tag-item" href="/">视觉传达</a>
                        <a class="ue-tag-item" href="/">网页设计</a>     
                        <a class="ue-tag-item" href="/">美术编辑</a>  
                        <a class="ue-tag-item" href="/">广告</a>
                        <a class="ue-tag-item" href="/">策展</a>
                        <a class="ue-tag-item" href="/">文案</a>     
                        <a class="ue-tag-item" href="/">新闻</a>                        	
                    </div>
                    <div class="z cl">
						<span>更多行业</span>
                        <a class="ue-tag-item" href="/">花艺</a>
                        <a class="ue-tag-item" href="/">烹饪艺术</a>
                        <a class="ue-tag-item" href="/">书法</a>     
                        <a class="ue-tag-item" href="/">写作</a>  
                        <a class="ue-tag-item" href="/">时尚</a>
                        <a class="ue-tag-item" href="/">雕刻</a>
                        <a class="ue-tag-item" href="/">工艺品</a>     
                        <a class="ue-tag-item" href="/">绘画</a>  
                        <a class="ue-tag-item" href="/">街头艺术</a>     
                        <a class="ue-tag-item" href="/">时尚风格</a>                        	
                    </div>
            </div>
		</div>
	</div>
</div>
