 <div class="editor-video z cl w640 mgt40">
            	<span class="editor-title-tag">影像</span>
				<input type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='- 直接添加视频地址 -';" onFocus="if(this.value=='- 直接添加视频地址 -')value='';" value="- 直接添加视频地址 -" id="editor-video-url" class="editor-video-input z cl"/>
				<p class="z cl chs editor-video-1">仅支持优酷、土豆视频。</p>	
				<!--<div class="editor-video-pic z cl mgt20">
					<div class="editor-video-pic-img z cl">
						<div class="z cl">
							<img src="../../static/img/common/show6.jpg"/>
						</div>
					</div>
				</div>-->	
			</div>
