<div class="yz-idx-search wp1000">
<ul class="yz-idx-event-search-tag z cl mgt40">
<li class="yz-idx-event-search-tag1 z cl">
<span class="chs">事件类型</span>
	<div class="yz-idx-event-search-tag1-list">
		<a href="#">全部类型</a>
		<a href="#">公益事件</a>
		<a href="#">工作事件</a>
		<a href="#">获奖事件</a>
		<a href="#">招募事件</a>
		<a href="#">互动事件</a>
		<a href="#">声明公告</a>
		<a href="#">媒体报道</a>	</div>
</li>

<li class="yz-idx-event-search-tag2 z cl">
<span class="chs">行业领域</span>
	<div class="yz-idx-event-search-tag2-list">
	<div class="yz-idx-event-search-tag2-list-title">
		<a>演员模特</a>
		<a class="yz-idx-event-search-tag2-list-title-on">影视幕后</a>
		<a>音乐制作</a>
		<a>摄影造型</a>
		<a>设计创意</a>
		<a>广告传媒</a>
		<a>更多行业</a>	</div>
	<div class="yz-idx-event-search-tag2-list-off mgt20">
		<a href="#">影视演员</a>
		<a href="#">时装模特</a>
		<a href="#">平面模特</a>
		<a href="#">车模</a>
		<a href="#">话剧演员</a>
		<a href="#">表演相关</a>	</div>
	<div class="yz-idx-event-search-tag2-list-on mgt20">
		<a href="#">影视导演</a>
		<a href="#">制片</a>
		<a href="#">影视监制</a>
		<a href="#">编剧</a>
		<a href="#">影视摄像</a>
		<a href="#">后期特效</a>
		<a href="#">影视美术</a>
		<a href="#">场景设计</a>
		<a href="#">配音</a>
		<a href="#">字幕</a>
		<a href="#">影视相关</a>
		<a href="#">不限行业</a>	
    </div>
</li>

<li class="yz-idx-event-search-tag3 z cl">
<span class="chs">热度指数</span>
	<div class="yz-idx-event-search-tag3-list">
		<a href="#" class="event-icon6">所有事件</a>
		<a href="#" class="show-icon8">最多查看</a>
		<a href="#" class="show-icon7">最多支持</a>
		<a href="#" class="show-icon9">最多评论</a>
		<a href="#" class="event-icon10">最多报道</a>	</div>
</li>

<li class="yz-idx-event-search-tag1 z cl">
<span class="chs">热门标签</span></li>
</ul>
<div class="yz-search y cl mgt40">
	<p class="z cl">
	<input class="yz-search-text z" type="text" value="搜索你感兴趣的标签">
	<input class="yz-search-sub z" type="submit" value="">
	</p>
</div>
</div>
