<!--footer begain-->
<div class="wp yz-ftbg">
	<div class="wp1000 yz-ft">
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-1">ABOUT UE</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">官方新浪微博</a>
				</li>
				<li>
					<a href="http://www.ueue.cc/about/oneminute" target="_blank">一分钟知晓我们</a>
				</li>
				<li>
					<a href="http://www.ueue.cc/about/partners" target="_blank">合作伙伴</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">我们经历过</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-2">BUSINESS</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">商业广告合作</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">大赛媒体支持</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">来参加我们的访谈</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">为公益赞助</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-3">DOCUMENTS</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">优意知识文档</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">郑重声明</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">注册协议</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">知识共享协议</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-4">OTHERS</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">欢迎你来一起工作</a>
				</li>
			
			
			</ul>
		</div>
	</div>
	<div class="wp yz-ftline">
		<div>
			<div class="wp1000">
				<span>© 2013 UE Network Co., Ltd. 优意座标团队版权所有</span>
				<a href="http://e.weibo.com/youyizuobiao" target="_blank" style="font-size:12px">京ICP备1101954120</a>
				<a href="http://e.weibo.com/youyizuobiao" target="_blank" style="font-size:12px">京公网安备110108003246号</a>
			</div>
		</div>
	</div>
</div>
<div class="ue-main-icon">
	<a href="#" title="回到顶部" id="ue-main-gotop"></a>
	<a href="#" title="侵权举报" id="ue-main-tip"></a>
	<a href="#" title="编辑" id="ue-main-edit"></a>
	<a href="#" title="删除" id="ue-main-del"></a>
	<a href="#" title="设置为公开" id="ue-main-open"></a>
	<a href="#" title="设置为保密" id="ue-main-close"></a>
</div>	
<!--footer end-->
