<!--footer begin-->
<div class="wp yz-ftbg">
	<div class="wp1000 yz-ft">
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-1">ABOUT UE</p>
			<ul class="z cl">
				<li>
					<a href="http://www.ueue.cc/about/oneminute" target="_blank">一分钟知晓我们</a>
				</li>
				<li>
					<a href="http://www.ueue.cc/about/partners" target="_blank">合作伙伴</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">我们经历过</a>
				</li>
                <li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">欢迎你来一起工作</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-2">BUSINESS</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">商业广告合作</a>
				</li>
                <li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">关于投稿的说明</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">来参加我们的访谈</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">赞助UE</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-3">DOCUMENTS</p>
			<ul class="z cl">
            	<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">优意知识文档</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">郑重声明</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">注册协议</a>
				</li>
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">知识共享协议</a>
				</li>
			</ul>
		</div>
		<div class="yz-ft-1 z cl">
			<p class="z cl yz-ft-tt yz-ft-type-4">OTHERS</p>
			<ul class="z cl">
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">投诉&amp;建议</a>
				</li>     
                <li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">公益支持</a>
				</li>               
				<li>
					<a href="http://e.weibo.com/youyizuobiao" target="_blank">文创行业赛事支持</a>
				</li>        
			</ul>
		</div>
	</div>
	<div class="wp yz-ftline">
		<div>
			<div class="wp1000">
				<span>© 2014 青蓝广告</span>
				<a href="http://e.weibo.com/youyizuobiao" target="_blank" style="font-size:12px">津ICP备14004203-1</a>
			</div>
		</div>
	</div>
</div>
<div class="ue-main-icon">
	{{tips}}
</div>	
<!--footer end-->
