<div class="z cl editor-cc">
   <p class="z cl" snum="0">不标记知识共享协议</p>
   <span class="y cl">▲</span>
   <div class="z cl editor-cc-position">
                        <a class="z cl no-cc">不标记知识共享协议<span snum="0"></span></a>
                        <a class="z cl cc-by-nc-nd">署名-非商业性使用-禁止演绎<span snum="1"></span></a>
                        <a class="z cl cc-by-nc-sa">署名-非商业性使用-相同方式共享<span snum="2"></span></a>
                        <a class="z cl cc-by-nc">署名-非商业性使用<span snum="3"></span></a>
                        <a class="z cl cc-by-nd">署名-禁止演绎<span snum="4"></span></a>
                        <a class="z cl cc-by-sa">署名-相同方式共享<span snum="5"></span></a>
                        <a class="z cl cc-by">署名<span snum="6"></span></a>
	</div>
</div>
