<li class="z cl yz-idx-module-discus-li">
						<div class="z yz-idx-module-discus-cmtone-avt bs">
							<a href="/{{one['uid']}}"  target="_blank"><img src="{{one['img']}}" alt="{{one['account']}}" height="50" width="50"/></a>
						</div>
						<div class="y yz-idx-module-discus-cmtone-ct">
							<p class="z yz-idx-module-discus-cmtone-name"><a href="/{{one['uid']}}" target="_blank" class="chs z cl">{{one['account']}}</a><span class="cp z cl"></span><i class="y cl">{{one['time']}}</i></p>
							<p class="z yz-idx-module-discus-cmtone-ctmain">{{one['content']}}</p>
						</div>
					</li>
