<div class="wp yz-hdbg ue-hdbg-editor">
	<div class="wp yz-hdline ue-hdline"></div>
		<div class="wp1000 yz-hd">
			<div class="editor-logo z cl">
			</div>
			<div class="z cl ue-editor-btn">
				<a href="/user/postwork/picture?backurl={{url}}">图像作品</a>
				<a href="/user/postwork/video?backurl={{url}}">影像作品</a>
				<a href="/user/postwork/music?backurl={{url}}">音频作品</a>
				<a href="/user/postwork/article?backurl={{url}}">文字作品</a><br>
				<a href="/user/postevent/pubwelfare?backurl={{url}}">公益参与</a>
				<a href="/user/postevent/job?backurl={{url}}">通告媒体</a>
				<a href="/user/postevent/award?backurl={{url}}">获奖荣誉</a>
				<a href="/user/postevent/recruit?backurl={{url}}">机构招募</a>
				<a href="/user/postevent/declare?backurl={{url}}">发表声明</a>
				<a href="/user/postevent/media?backurl={{url}}">媒体报道</a>
				<a href="/user/postevent/experience?backurl={{url}}">经验分享</a>
				<a href="/user/postevent/games?backurl={{url}}">赛事活动</a>
				<a href="/user/postevent/official?backurl={{url}}">官方发布</a>
			</div>
			<div class="editor-bk y cl ">
				<a href="{{url}}" class="editor-back"></a>
			</div>
		</div>
</div>
