<!--header begain-->
<div class="wp yz-hdbg">
	<div class="wp yz-hdline">
	</div>
	<div class="wp1000 yz-hd">
			<a href="/" class="logo">
				<span>回首页</span>
			</a>
			<ul class="yz-nav">
				<li>
					<a href="/works">作品云集</a><br>
					<span class="en">Works Show</span>
				</li>
				<li>
					<a href="/records">记录</a><br>
					<span class="en">Records</span>
				</li>
				<li>
					<a href="/professional">机构&#38;人才</a><br>
					<span class="en">Inc&#38;Professional</span>
				</li>
				<!--<li>
					<a href="/album">专辑</a><br>
					<span class="en">Album</span>
				</li>
				<li>
					<a href="/vane">风向标</a><br>
					<span class="en">Ue Vane</span>
				</li>-->
			</ul>

			<div class="yz-member mgt10 y cl">
			  {{modules.User(cuser,url)}}
			</div>
		</div>
	</div>
<div class="wp yz-hdbg ue-hdbg-editor" style="height:0px;border-bottom:none;">
		<div class="wp1000 yz-hd">
			<div class="editor-logo z cl">
			</div>
			<div class="z cl ue-editor-btn">
				<a href="/user/postwork/picture?backurl={{url}}">图像作品</a>
				<a href="/user/postwork/video?backurl={{url}}">影像作品</a>
				<a href="/user/postwork/music?backurl={{url}}">音频作品</a>
				<a href="/user/postwork/article?backurl={{url}}">文字作品</a><br>
				<a href="/user/postevent/pubwelfare?backurl={{url}}">公益参与</a>
				<a href="/user/postevent/job?backurl={{url}}">通告媒体</a>
				<a href="/user/postevent/award?backurl={{url}}">获奖荣誉</a>
				<a href="/user/postevent/recruit?backurl={{url}}">机构招募</a>
				<a href="/user/postevent/declare?backurl={{url}}">发表声明</a>
				<a href="/user/postevent/media?backurl={{url}}">媒体报道</a>
				<a href="/user/postevent/experience?backurl={{url}}">经验分享</a>
				<a href="/user/postevent/games?backurl={{url}}">赛事活动</a>
				<a href="/user/postevent/official?backurl={{url}}">官方发布</a>
			</div>
			<div class="editor-bk y cl ">
				<a href="javascript:;" class="editor-back"></a>
			</div>
		</div>
</div>
<!--header end-->
