<!--header begain-->
<div class="ue-post" style="display: none;">
	<div class="ue-post-box">
		<a class="ue-post-close"></a>
			<div class="z cl">
				<p class="ue-post-maintitle">你要发布什么？</p>
				<p class="z cl ue-post-title">作品展示</p>
                <ul class="z cl">
                	<li>
                    	<a href="/user/postwork/picture">图像作品</a>                 
                    </li>
                    <li>
                    	<a href="/user/postwork/video">影像作品</a>
                    </li>
                    <li>
                    	<a href="/user/postwork/music">音频作品</a>
                    </li>
                    <li>
                    	<a href="/user/postwork/article">文字作品</a>
                    </li>
                </ul>
                <p class="z cl ue-post-title">记录</p>
                <ul class="z cl">
                	<li>
                    	<a href="/user/postevent/pubwelfare">公益参与</a>             
                    </li>
                    <li>
                    	<a href="/user/postevent/job">通告媒体</a>
                    </li>
                    <li>
                    	<a href="/user/postevent/award">获奖荣誉</a>
                    </li>
                    <li>
                    	<a href="/user/postevent/recruit">机构招募</a>
                    </li>
                    <li>
                    	<a href="/user/postevent/media">媒体报道</a>
                    </li>
                    <li>
                    	<a href="/user/postevent/games">赛事活动</a>
                    </li>
                </ul>
		</div>
	</div>
</div>
<div class="wp yz-hdbg">
	<div class="wp yz-hdline">
	</div>
	<div class="wp1000 yz-hd">
			<a href="/" class="logo">
			</a>
			<ul class="yz-nav">
				<li>
					<a href="/works">作品云集</a><br>
					<span class="en">Works Show</span>
				</li>
				<li>
					<a href="/records">记录</a><br>
					<span class="en">Records</span>
				</li>
				<li>
					<a href="/professional">机构&#38;人才</a><br>
					<span class="en">Inc&#38;Professional</span>
				</li>
				<li>
					<a href="/album">专辑</a><br>
					<span class="en">Album</span>
				</li>
				<li>
					<a href="/vane">风向标</a><br>
					<span class="en">Ue Vane</span>
				</li>
			</ul>

			<div class="yz-member mgt10 y cl">
			  {{modules.User(cuser,url)}}
			</div>
		</div>
	</div>
<!--header end-->
