<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>管理中心 | 优意座标™</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/user.css')}}">
<script type="text/javascript" src="{{static_url('JS/jquery-1.6.4.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/common.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/user.js')}}"></script>
</head>
<body class="user-body">
  {{modules.SettingHeader(cuser,request.uri)}}
<div class="w1000">
	<div class="user-1-bd z cl mgt100">
		<div class="user-left z cl mgt40">
			<div class="user-1-type z cl">
				<p class="z cl user-1-tt">原密码</p>
                                <div class="z cl user-normal-div inputtipdiv">
				     <input type="password" id="oldpsw" class="z cl user-normal" />
                                     <span>填写当前密码</span>
                                </div>
				<p class="user-1-explain z cl">
					填写原密码。
				</p>
			</div>
			<div class="user-1-type z cl">
				<p class="z cl user-1-tt">新密码</p>
                                <div class="z cl user-normal-div inputtipdiv">
				     <input type="password" id="newpsw" class="z cl user-normal"/>
                                     <span>设置新的密码</span>
                                </div>
				<p class="user-1-explain z cl">
					设置新的密码，不少于6位。
				</p>
			</div>
		
			<div class="user-1-type z cl">
				<p class="z cl user-1-tt">确认密码</p>
                                <div class="z cl user-normal-div inputtipdiv">
				     <input type="password" id="chkpsw" class="z cl user-normal"/>
                                     <span>确认新的密码</span>
                                </div>
				<p class="user-1-explain z cl">
					确认新的密码。
				</p>
			</div>
			<div class="user-button z cl">
				  {{ xsrf_form_html() }}
					<input type="button" value="SAVE"/>
				</div>
		</div>
		<div class="user-1-right y cl mgt40">
			{{modules.Setlist()}}
		</div>
	</div>
	<p class="user-copyright y cl">© UEUE.CC | 优意座标™</p>
</div>

<script type="text/javascript">
  $(".user-button input").click(function(){
      var oldpsw=$("#oldpsw").val();
      var newpsw=$("#newpsw").val();
      var chkpsw=$("#chkpsw").val();
      var _xsrf=$("input[name='_xsrf']").val();
      if(oldpsw.length < 6){
          alert("旧密码输入不规范");
          return false;
      }
      if(newpsw.length < 6 || chkpsw.length <6){
          alert("密码长度太短");
          return false;
      }
      if(newpsw!=chkpsw){
          alert("新密码和确认密码不匹配");
      }
      else{
          var settings={
                  url:"/user/set-password",
                  type:"post",
                  dataType:"json",
                  data:{"oldpsw":oldpsw,"newpsw":newpsw,"_xsrf":_xsrf},
                  error:function(jq,data,errorThrow){
                     if(date) alert(data);
                   },
                  success:function(result){
                             if(result.status){
                                  alert("修改成功");
                             }
                             else{
                                  alert("修改失败,"+result.code);
                             }
                           }
              }
          $.ajax(settings);
       }
  })
</script>

</body>
</html>
