<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>初始化设置 | 优意座标™</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/user.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script>
	$(document).ready(function(){
			
			$('.user-1-avr-btn1').click(function(){
				$('#user-1-avr-btn1').trigger("click")
			});
	});
</script>
</head>
<body class="user-body">
	<div class="wp yz-hdbg">
		<div class="wp yz-hdline"></div>
		<div class="wp1202 yz-hd cl">
			<a href="/"  class="logo"><span>回首页</span></a>
			<div class="yz-idx-eventchoose"></div>
			<ul class="yz-nav">
				<li>
					<a href="#" target="_blank" >作品云集</a><br>
					<span class="en">Works Show</span>
				</li>
				<li>
					<a href="#" target="_blank" >记录</a><br>
					<span class="en">Recorder</span>
				</li>
				<li>
					<a href="#" target="_blank" >机构&#38;人才</a><br>
					<span class="en">Inc&#38;Professional</span>
				</li>
				<li>
					<a href="#" target="_blank" >专辑</a><br>
					<span class="en">Album</span>
				</li>
				<li>
					<a href="#" target="_blank" >风向标</a><br>							
					<span class="en">Ue Vane</span>
				</li>
			</ul>
			<div class="yz-member mgt10 y cl">
				<a href="#" class="z yz-avt">
					<img src="../../static/img/common/avt.jpg"  width="46" height="46"/>
				</a>
				<div class="y yz-meb-btn cl">
					<a href="#" class="yz-meb-btn1"></a>
					<a href="#" class="yz-meb-btn2"></a>
					<a href="#" class="yz-meb-btn3">
					<span class="yz-newmsg">27</span>
					</a>
					<a href="#" class="yz-meb-btn4"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="ue-user-allbody">
	</div>
    <div class="user-close-window">
    </div>
	<div class="wp1000 cl" style="overflow: hidden;">
<style>
	.wp1000 { width: 1000px !important; position: relative; z-index: 999;}
	.user-begin { width: 2000px; height: 578px; position: relative; top: 0;}
	.user-1-bd { height: 438px;}
	.user-1-idname,.user-1-emailtoue { outline: none; border: 1px solid #3bb; font-size: 14px; font-family: "Microsoft Yahei"; color: #666; background: fff; padding: 4px; line-height: 20px; height: 20px; width: 280px;}
	.user-1-prev { display: block;width: 101px;height: 100px;position: absolute;top: 40px;right: 100px;background: url(http://static.ueue.cc/www/img/drawright.png) -22px -758px no-repeat;cursor: pointer;}
	.user-1-prev:hover { background: url(http://static.ueue.cc/www/img/drawright.png) -157px -758px no-repeat;}
	.user-1-done { display: block;width: 101px;height: 100px;position: absolute; bottom: 40px;right: 100px;background: url(http://static.ueue.cc/www/img/drawright.png) -22px -874px no-repeat;cursor: pointer;}
	.user-1-done:hover { background: url(http://static.ueue.cc/www/img/drawright.png) -157px -874px no-repeat;}
</style>
    <div class="z cl user-begin" style="left: 0px;">
    	<div class="user-1-bd z cl mgt100">
        	
			<div class="user-left z cl mgt40" style="height: 398px;">
            	<p class="chs" style="padding: 20px 0; font-size: 16px; color: #3bb; border-bottom: 1px solid #ccc;border-top: 1px solid #ccc; margin: 0 40px 20px;">
            		UE团队欢迎你的加入 | WWW.UEUE.CC             
           		</p>
				<div class="user-1-type z cl">
					<p class="z cl user-1-tt">设定账号</p>
                    <input type="text" value="获取的账号名" class="user-1-idname"/>
					<p class="user-1-explain z cl">
						我们建议使用真实姓名作为你在UE的账号，可以更好的被人熟知，设定后不可更改。
					</p>
				</div>
				<div class="user-1-sex z cl">
					<p class="z cl user-1-tt">联系邮箱</p>
					<input type="text" class="user-1-emailtoue"/>
					<p class="user-1-explain z cl">
						选填 | 此邮箱仅作为UE团队与您联系使用且不会被公开显示，当有指定工作邀请的时候会向此邮箱内发送邮件。
					</p>
				</div>				
			</div>
			<div class="user-1-right y cl mgt40">
				<a href="#" class="user-1-draw" style="right: -400px; ">
				</a>
				<a class="user-1-next"></a>
			</div>
		</div>
		<div class="user-1-bd z cl mgt100">
			<div class="user-left z cl mgt40" style="height: 398px;">
				<div class="user-1-type z cl">
					<p class="z cl user-1-tt">账户性质</p>
					<div class="z cl user-1-chooseon" id="user-1-id1">
						个人
					</div>
					<div class="z cl user-1-chooseoff" id="user-1-id2">
						机构
					</div>
					<p class="user-1-explain z cl">
						此项设置关联资料设置、认证方式和用户权限，确认后将无法做出修改。
					</p>
				</div>
				<div class="user-1-sex z cl">
					<p class="z cl user-1-tt">我的性别</p>
					<div class="z cl user-1-chooseoff" id="user-1-id3">
						男 / Male
					</div>
					<div class="z cl user-1-chooseon" id="user-1-id4">
						女 / Female
					</div>
					<p class="user-1-explain z cl">
						此项设置关联资料设置，确认后将无法做出修改。
					</p>
				</div>
				<div class="user-1-avr z cl">
					<span class="user-1-avr-span" style="border: 1px solid #FFF;">
						<img src="../../static/img/noava.png" height="200" width="200"/>
					</span>
					
					<form id="editor-form-pic" action="/user/avatar/upload" method="POST" enctype="multipart/form-data" name="file">
					  {{ xsrf_form_html() }}
					<input type="file" id="user-1-avr-btn1" title="上传头像" style="display: none;"/>
					<input type="button" value="更改头像" class="user-1-avr-btn1"/>
				      </form>
					<div class="user-1-avr-text">
						<!--<span>这张图片小了一些，换一张试试看吧 ^.^</span><br>-->
						<span>恭喜您 ! 拥有了一枚新的头像 ^.^</span><br>
						<p>
							注 : 图片宽高均须大于200px，我们欣赏并更愿意接受视觉感受良好的图片作为头像，同时不会欢迎出现文字广告的头像。
						</p>
					</div>
				</div>
				
			</div>
			<div class="user-1-right y cl mgt40">
				<a class="user-1-prev"></a>
                <a class="user-1-done"></a>
			</div>
		</div>
        </div>
		<p class="user-copyright y cl">&copy; UEUE.CC | 优意座标™</p>
	</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#user-1-id1").click(function(){
    $("#user-1-id2").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
    $(".user-1-sex").show();
  })
  $("#user-1-id2").click(function(){
    $("#user-1-id1").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
    $(".user-1-sex").hide();
  })
  $("#user-1-id3").click(function(){
    $("#user-1-id4").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
  })
  $("#user-1-id4").click(function(){
    $("#user-1-id3").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
  })
  $(".user-1-next").click(function(){
      $(".user-begin").css({'left': -1000});
  })
  $(".user-1-prev").click(function(){
      $(".user-begin").css({'left': 0});
  })
  $(".user-1-done").click(function(){
      var userchar=$(".user-1-type .user-1-chooseon").attr("type");
      var usersex=$(".user-1-sex .user-1-chooseon").attr("type");
      var img=$(".user-1-avr-move").attr("src").split("?")[0];
      //alert(userchar+","+usersex+","+img);
      if($("#user-1-id1").hasClass("user-1-chooseon")){
        if(!$("#user-1-id3").hasClass("user-1-chooseon") && !$("#user-1-id4").hasClass("user-1-chooseon")) return;
      }
      else{
        if(!$("#user-1-id2").hasClass("user-1-chooseon")) return;
      }
      var settings={
                url:"/user/action/init",
                type:"post",
                dataType:"json",
                data:{"type":userchar,"sex":usersex,"avatar":img,"_xsrf":$("input[name='_xsrf']").val()},
                error:function(jq,data,errorThrow){
                     alert(data);
                },
                success:function(result){
                          if(result.status){
                              $(".user-1-next").hide();
                              $(".editor-add-pic").hide();
                              $(".user-1-draw").animate({right:"0px"},500);
                              $(".user-1-draw").attr("href",result.url);
                          }
                          else{
                              alert("保存出错:"+result.code);   
                          }
                        }
                          
          }
      $.ajax(settings);
  })
  $(".user-1-avr-btn1").bind("change",function(){ 
      $("#editor-form-pic").ajaxSubmit({
      dataType:"json",
      beforeSubmit:function(a,f,o){
          var file=$("#user-1-avr-btn1").val();
          if(!file){
            alert("请先选择要上传的文件");
            return false;
          }
      },
      error:function(jq,data,errorThrow){
                     alert(data);
      },
      success:function(result){
          if(result.status){
               $(".user-1-avr-move").attr("src",result.path);
               $(".user-1-avr-text span").text("恭喜您 ! 拥有了一枚新的头像 ^.^");
          }
          else{
               alert(result.code);
          }
      }
   })
  })
})
</script>
</body>
</html>
