<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>初始化设置 | 优意座标™</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<!--[if lt IE 9]><script src="http://www.html5china.com/templets/html5/scripts/html5.js"></script><![endif]-->
<!--<link rel="stylesheet" type="text/css" href="{{static_url('CSS/common.css')}}">-->
<link rel="stylesheet" type="text/css" href="{{static_url('CSS/user.css')}}">
<script type="text/javascript" src="{{static_url('JS/jquery-1.6.4.js')}}"></script>
<script type="text/javascript" src="{{static_url('JS/jquery.form-2.67.js')}}"></script>
<style type="text/css">
.editor-add-pic { height: 40px; width: 120px; line-height: 40px; font-size: 14px; color: #FFF; cursor: pointer; position: absolute;left:263px;bottom:0px; overflow: hidden; text-align: center; background: #333; }
			a.editor-add-pic:hover { background: #3BB; -webkit-transition: all 500ms;}
	.editor-add-pic span { display: block; height: 40px; width: 200px; height: 50px; position: absolute; top: 0px; right: 0px;}
	.editor-add-pic input.editor-pic-addbtn { cursor: pointer; outline: none; border: solid; border-width: 0 0 100px 100px; color: #FFF; position: absolute; top: 0; right: 0;  opacity: 0; filter:alpha(opacity=0);}

</style>

</head>
<body class="user-body">
  {{modules.SettingHeader(cuser,request.uri)}}
<div class="w1000">
	<div class="user-1-bd z cl mgt100">
		<div class="user-left z cl mgt40">
			<div class="user-1-type z cl">
				<p class="z cl user-1-tt">账户性质</p>
				<div class="z cl user-1-chooseoff" id="user-1-id1" type="0">
					个人
				</div>
				<div class="z cl user-1-chooseoff" id="user-1-id2" type="1">
					机构
				</div>
				<p class="user-1-explain z cl">
					此项设置关联资料设置、认证方式和用户权限，确认后将无法做出修改。
				</p>
			</div>
			<div class="user-1-sex z cl" style="display:none;">
				<p class="z cl user-1-tt">我的性别</p>
				<div class="z cl user-1-chooseoff" id="user-1-id3" type="0">
					男 / Male
				</div>
				<div class="z cl user-1-chooseoff" id="user-1-id4" type="1">
					女 / Female
				</div>
				<p class="user-1-explain z cl">
					此项设置关联资料设置，确认后将无法做出修改。
				</p>
			</div>
			<div class="user-1-avr z cl">
				<div class="user-1-avr-span" style="border: 1px solid #fff;">
					<img src="{{static_url('img/noava.png')}}" class="user-1-avr-move" style="position:relative;"/>
                                        <div class="user-1-avr-hover"></div>
				</div>
                                <form id="editor-form-pic" action="/user/works/picupload" method="POST" enctype="multipart/form-data" name="file">
                                        {{ xsrf_form_html() }}
					<a class="editor-add-pic z cl">
						修改
						<span>
							<input type="file" class="editor-pic-addbtn" name="file"/>
						</span>
					</a>
                                </form>
				<div class="user-1-avr-text">
					<span>设置一个新的头像</span><br>
					<p>
						注 : 图片宽高均须大于200px，我们欣赏并更愿意接受视觉感受良好的图片作为头像，同时不会欢迎出现文字广告的头像。
					</p>
				</div>
			</div>
			
		</div>
		<div class="user-1-right y cl mgt40">
		     <a class="user-1-draw" style="right:-400px;"></a>
                     <a class="user-1-next" style="display:none;"></a>	
		</div>
	</div>
        <p class="user-copyright y cl">&copy; UEUE.CC | 优意座标™</p>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#user-1-id1").click(function(){
    $("#user-1-id2").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
    $(".user-1-sex").show();
  })
  $("#user-1-id2").click(function(){
    $("#user-1-id1").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
    $(".user-1-sex").hide();
  })
  $("#user-1-id3").click(function(){
    $("#user-1-id4").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
  })
  $("#user-1-id4").click(function(){
    $("#user-1-id3").removeClass("user-1-chooseon").addClass("user-1-chooseoff");
    $(this).addClass("user-1-chooseon");
  })
  var begin,end,init;
  var status=0;
  $(".user-1-next").click(function(){
      var userchar=$(".user-1-type .user-1-chooseon").attr("type");
      var usersex=$(".user-1-sex .user-1-chooseon").attr("type");
      var img=$(".user-1-avr-move").attr("src").split("?")[0];
      //alert(userchar+","+usersex+","+img);
      if($("#user-1-id1").hasClass("user-1-chooseon")){
        if(!$("#user-1-id3").hasClass("user-1-chooseon") && !$("#user-1-id4").hasClass("user-1-chooseon")) return;
      }
      else{
        if(!$("#user-1-id2").hasClass("user-1-chooseon")) return;
      }
      var settings={
                url:"/user/action/init",
                type:"post",
                dataType:"json",
                data:{"type":userchar,"sex":usersex,"avatar":img,"_xsrf":$("input[name='_xsrf']").val()},
                error:function(jq,data,errorThrow){
                     alert(data);
                },
                success:function(result){
                          if(result.status){
                              $(".user-1-next").hide();
                              $(".editor-add-pic").hide();
                              $(".user-1-draw").animate({right:"0px"},500);
                              $(".user-1-draw").attr("href",result.url);
                          }
                          else{
                              alert("保存出错:"+result.code);   
                          }
                        }
                          
          }
      $.ajax(settings);
  })
  $(".editor-pic-addbtn").bind("change",function(){ 
      $("#editor-form-pic").ajaxSubmit({
      dataType:"json",
      beforeSubmit:function(a,f,o){
          var file=$(".editor-pic-addbtn").val();
          if(!file){
            alert("请先选择要上传的文件");
            return false;
          }
      },
      error:function(jq,data,errorThrow){
                     alert(data);
      },
      success:function(result){
          if(result.status){
               //alert(result.path);
               $(".user-1-avr-move").attr("src",result.path);
               //$(".user-1-avr-btn1").show();
               $(".user-1-avr-text span").text("恭喜您 ! 拥有了一枚新的头像 ^.^");
          }
          else{
               alert(result.code);
          }
      }
   })
  })
})
</script>
</body>
</html>
