<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/editor.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/editor.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
</head>
<body>
<!--header begain-->
{{modules.EditorHeader(cuser,url)}}
<!--header end-->
<div class="wp640 mgt100 yz-edbd cl">			
			<div class="w640 y cl">
			<div class="editor-title z cl mgt40">
				<input type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='最多24个汉字';" onFocus="if(this.value=='最多24个汉字')value='';" value="最多24个汉字"/>
                {{ xsrf_form_html() }}
				<span class="editor-title-tag">标题</span>
			</div>
			<div class="editor-description z cl w640 mgt40">
				<span class="editor-title-tag">文字</span>
				<div class="editor-desc-textarea z cl">
					<textarea class="editor-desc-text z cl"></textarea>
				</div>
			</div>
        	{{modules.UeAddlable()}}
			
			<div class="editor-sub y cl mgt40 w640">
				<div class="z cl editor-post-opentype">
					<i></i>
					<span class="editor-sub-btn4 y cl">公开发布</span>
				</div>
                {{modules.UeDocprotocol()}}
				<input type="submit" value="OK!" class="editor-sub-btn1 y cl chs1">
				
			</div>
		</div>
	</div>
<script type="text/javascript">
   select_item_on($(".ue-editor-btn a"),3,"active");
   $(".editor-sub-btn1").click(function(){
      var title=$(".editor-title input").val();
      var content=$(".editor-desc-text").val();
      var describe="text-align:left";
      var workmark=$(".editor-cc-on span").attr("snum");
      alert(title+content+workmark);
      var mates="";
      $(".editor-team li").each(function(index){
          if(index) mates+=";"+$(this).find(".editor-team-id").val()+"&"+$(this).find(".editor-team-work").val();
          else mates+=$(this).find(".editor-team-id").val()+"&"+$(this).find(".editor-team-work").val();
      })
      var settings={
             url:"/user/postwork/article",
             type:"post",
             dataType:"json",
             data:{
                   "lable":lable,
                   "title":title,
                   "copysign":workmark,
                   "teammates":mates,
                   "content":content,
                   "describe":describe,
                   "_xsrf":$("input[name='_xsrf']").val()},
             success:function(result){
                       if(result.status){
                              alert("发布成功");
                       }
                       else{
                              alert("发布失败"+result.code);
                       }
                     }
       }
      $.ajax(settings);
   })
</script>

<!--footer begain-->
{{modules.BlackFooter(cuser,tips)}}
<!--footer end-->
</body>
</html>
