<!--header begain-->
{{modules.EditorHeader(url)}}
	<div class="wp640 mgt100 yz-edbd cl">
		<div class="w640 y cl">
			<div class="editor-title z cl mgt40">
				<input type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='最多24个汉字';" onFocus="if(this.value=='最多24个汉字')value='';" value="最多24个汉字"/>
                {{ xsrf_form_html() }}
				<span class="editor-title-tag">标题</span>
			</div>
			{{modules.EditorUploadpic("支持JPG, GIF, PNG, BMP格式图片，单张大小不超过10M，最多40张。")}}
			<div class="editor-description z cl w640 mgt40">
				<span class="editor-title-tag">描述</span>
				<div class="editor-desc-textarea z cl">
					<textarea class="editor-desc-text z cl"></textarea>
				</div>
			</div>
        	{{modules.UeAddlable()}}
			
			<div class="editor-sub y cl mgt40 w640">
				<div class="z cl editor-post-opentype">
					<i></i>
					<span class="editor-sub-btn4 y cl">公开发布</span>
				</div>
                {{modules.UeDocprotocol()}}
				<input type="submit" value="OK!" class="editor-sub-btn1 y cl chs1">
				
			</div>
		</div>
	</div>
<script type="text/javascript">

   var i=0;   
   var pos=new Array();
   var status=0;
   var src,des;
   var bpos,epos;
   var front=0;
   function picdelete (){
     var order=parseInt($(this).next().attr("order"));
     var last=parseInt($(".editor-pic-move").last().attr("order"));
     for(var k=order+1;k<=last;k++) $(".editor-pic-move").eq(k).attr("order",k-1);
     $(this).parent().remove();
     pos[i]=0;
     pos[i+1]=0;
     i-=2;
   }

   function dragbegin (event){
     for(var j=0;j<i;j++){
            if(event.pageY >=pos[2*j] && event.pageY <=pos[2*j+1]) src=j;
          }
     bpos=event.pageY;
     status=1;
   }

   function dragmove (event){
     event.preventDefault();
     if(status==1){
       $(".editor-pic-ul li").eq(src).css({"top":(event.pageY-bpos),'z-index':999});
       for(var j=0;j<i;j++){
            if(event.pageY >=pos[2*j] && event.pageY <=pos[2*j+1]) des=j;
          }
          if((event.pageY-50) > $(".editor-pic-ul li").eq(des).offset().top && src!=des){
            var html=$(".editor-pic-ul li").eq(src).clone();
            $(".editor-pic-ul li").eq(src).remove();
            if(des){
                 $(html).insertAfter($(".editor-pic-ul li").eq(des-1));
            }
            else{
                 $(html).insertBefore($(".editor-pic-ul li").eq(0));
            }
            $(".editor-pic-ul li").css({'top':0});
            src=des;
            $(".editor-pic-ul li").eq(src).css({'z-index':0});
            $(".editor-pic-ul li").eq(src).find(".editor-pic-move").bind("mousedown",dragbegin).bind("mousemove",dragmove).bind("mouseup",dragend);
            $(".editor-pic-ul li").eq(src).find(".editor-pic-front").bind("click",frontclick).bind("mouseover",frontover).bind("mouseout",frontout);
            $(".editor-pic-ul li").eq(src).find(".editor-pic-del").bind("click",picdelete);
            bpos=event.pageY;
           }
       }
   }

   function dragend (event){
     if(status==1){
          $(".editor-pic-ul li").eq(src).css({"top":0,'z-index':0});
          for(var j=0;j<i;j++){
            if(event.pageY >=pos[2*j] && event.pageY <=pos[2*j+1]) des=j;
          }
       }
       //$(".editor-pic-ul").bind("mousemove",dragmove);
       status=0;
   }


   function frontclick (){
       if(!$(this).children().first().hasClass("editor-pic-front-on")){
           $(".editor-pic-front span").removeClass("editor-pic-front-on");
           $(this).children().first().addClass("editor-pic-front-on");
       }
   }

   function frontover (){
       if(!$(this).children().first().hasClass("editor-pic-front-on"))
       $(this).children().first().addClass("editor-pic-front-over");
   }

   function frontout (){
       if($(this).children().first().hasClass("editor-pic-front-over"))
       $(this).children().first().removeClass("editor-pic-front-over");
   }

$(document).ready(function(){

  select_item_on($(".ue-editor-btn a"),0,"active");
  var limit={size : 10 , num : 40};
  initflash(limit);				   
  /*$(".editor-pic-addbtn").bind("change",function(){
      
      $("#editor-form-pic").ajaxSubmit({
      dataType:"json",
      beforeSubmit:function(a,f,o){
          var file=$(".editor-pic-addbtn").val();
          if(!file){
            alert("请先选择要上传的文件");
            return false;
          }
      },
      success:function(result){
          if(result.status){
               $(li).appendTo(".editor-pic-ul");
               $(".editor-pic-ul li").last().find(".editor-pic-move").bind("mousedown",dragbegin).bind("mousemove",dragmove).bind("mouseup",dragend);
               $(".editor-pic-ul").bind("mousemove",dragmove);
               $(".editor-pic-ul li").last().find(".editor-pic-front").bind("click",frontclick).bind("mouseover",frontover).bind("mouseout",frontout);
               $(".editor-pic-ul li").last().find(".editor-pic-del").bind("click",picdelete);
               pos[i]=$(".editor-pic-ul li").last().find(".editor-pic-move").offset().top;
               pos[i+1]=pos[i]+$(".editor-pic-ul li").last().find(".editor-pic-move").height();
               i+=2;
          }
          else{
               alert(result.code);
          }
      }
   })
   })*/
   $(".editor-sub-btn1").click(function(){
      var title=$(".editor-title input").val();
      var content="";
      var defval="- 描述 -";
      var imgsrc,txtval;
      $(".editor-pic-ul li").each(function(index){
	  imgsrc=$(this).find(".editor-pic-img img").attr("src");
	  txtval=$(this).find(".editor-pic-text textarea").val();
	  if(txtval == defval) txtval="";
          if(index) content+=";"+imgsrc+"&"+txtval;
          else content+=imgsrc+"&"+txtval;
      })
      var cover=$(".editor-pic-front").parents(".editor-pic-ul li").find(".editor-pic-img img").attr("src");
      //cover=cover.substring(cover.indexOf("/static"));
      var describe=$(".editor-desc-text").val();
      var sign=$(".editor-cc-on span").attr("snum");
      var mates="";
      $(".editor-team li").each(function(index){
          if(index) mates+=";"+$(this).find(".editor-team-id").val()+"&"+$(this).find(".editor-team-work").val();
          else mates+=$(this).find(".editor-team-id").val()+"&"+$(this).find(".editor-team-work").val();
      })
      alert(title+content+lable+cover+describe+sign);
      var settings={
             url:"/user/postwork/picture",
             type:"post",
             dataType:"json",
             data:{
                   "describe":describe,
                   "lable":lable,
                   "title":title,
                   "cover":cover,
                   "copysign":sign,
                   "teammates":mates,
                   "content":content,
                   "_xsrf":$("input[name='_xsrf']").val()},
             success:function(result){
                       if(result.status){
                              alert("发布成功");
                       }
                       else{
                              alert("发布失败"+result.code);
                       }
                     }
       }
      $.ajax(settings);
  })
})
</script>
<!--footer begain-->
{{modules.BlackFooter(cuser,tips)}}
<!--footer end-->
</body>
<script type="text/javascript" src="{{static_url('JS/ue-sortable.js')}}"></script>
</html>
