<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/editor.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/editor.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/swfupload.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/swfupload.queue.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/fileprogress.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/handlers.js"></script>
<style type="text/css">
</style>
</head>
<body>
<!--header begain-->
{{modules.EditorHeader(cuser,url)}}
<!--header end-->
	<div class="wp640 mgt100 yz-edbd cl">
		<div class="w640 y cl">
			<div class="editor-title z cl mgt40">
				<input type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='最多24个汉字';" onFocus="if(this.value=='最多24个汉字')value='';" value="最多24个汉字"/>
                {{ xsrf_form_html() }}
				<span class="editor-title-tag">标题</span>
			</div>
            <div class="editor-event-time z cl mgt40">
            	<span class="editor-title-tag">时间</span>
				<div class="z cl">
					<div class="eve-time-1"> 
                    	<p>2014/03/26</p>
                    <div class="eidtor-calendar">
<Script LANGUAGE="JavaScript">
 var months = new Array("一", "二", "三","四", "五", "六", "七", "八", "九","十", "十一", "十二");
 var daysInMonth = new Array(31, 28, 31, 30, 31, 30, 31, 31,30, 31, 30, 31);
 var days = new Array("Su","Mo", "Tu", "We","Th", "Fr", "Sa");
 var classTemp;
 var today=new getToday();
 var year=today.year;
 var month=today.month;
 var newCal; 

 function getDays(month, year) {
  if (1 == month) return ((0 == year % 4) && (0 != (year % 100))) ||(0 == year % 400) ? 29 : 28;
  else return daysInMonth[month];
 }

 function getToday() {
  this.now = new Date();
  this.year = this.now.getFullYear();
  this.month = this.now.getMonth();
  this.day = this.now.getDate();
 }

 function Calendar() {
  newCal = new Date(year,month,1);
  today = new getToday();   
  var day = -1;
  var startDay = newCal.getDay();
  var endDay=getDays(newCal.getMonth(), newCal.getFullYear());
  var daily = 0;
  if ((today.year == newCal.getFullYear()) &&(today.month == newCal.getMonth()))
  {
   day = today.day;
  }
  var caltable = document.all.caltable.tBodies.calendar;
  var intDaysInMonth =getDays(newCal.getMonth(), newCal.getFullYear());

  for (var intWeek = 0; intWeek < caltable.rows.length;intWeek++)
   for (var intDay = 0;intDay < caltable.rows[intWeek].cells.length;intDay++)
   {
    var cell = caltable.rows[intWeek].cells[intDay];
    var montemp=(newCal.getMonth()+1)<10?("0"+(newCal.getMonth()+1)):(newCal.getMonth()+1);         
    if ((intDay == startDay) && (0 == daily)){ daily = 1;}
    var daytemp=daily<10?("0"+daily):(daily);
    var d="<"+newCal.getFullYear()+"-"+montemp+"-"+daytemp+">";
    if(day==daily) cell.className="DayNow";
    else if(intDay==6) cell.className = "DaySat";
    else if (intDay==0) cell.className ="DaySun";
    else cell.className="Day";
    if ((daily > 0) && (daily <= intDaysInMonth))
    {
     cell.innerText = daily;
     daily++;
    } else
    {
     cell.className="CalendarTD";
     cell.innerText = "";
    }
  }
  document.all.year.value=year;
  document.all.month.value=month+1;
 }

 function subMonth()
 {
  if ((month-1)<0)
  {
   month=11;
   year=year-1;
  } else
  {
   month=month-1;
  }
  Calendar();
 }

 function addMonth()
 {
  if((month+1)>11)
  {
   month=0;
   year=year+1;
  } else
  {
   month=month+1;
  }
  Calendar();
 }

 function setDate() 
 {
  if (document.all.month.value<1||document.all.month.value>12)
  {
   alert("月的有效范围在1-12之间!");
   return;
  }
  year=Math.ceil(document.all.year.value);
  month=Math.ceil(document.all.month.value-1);
  Calendar();
 }
</Script>
<table border="0" cellpadding="0" cellspacing="1" class="Calendar" id="caltable">
<thead>
     <tr align="center" valign="middle"> 
  <td colspan="7" class="Title">
   <a href="javaScript:subMonth();" title="上一月" Class="DayButton">&lt;</a> <input name="year" type="text" size="4" maxlength="4" onKeyDown="if (event.keyCode==13)" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"  onpaste="this.value=this.value.replace(/[^0-9]/g,'')"> 年 <input name="month" type="text" size="1" maxlength="2" onKeyDown="if (event.keyCode==13)" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"  onpaste="this.value=this.value.replace(/[^0-9]/g,'')"> 月 <a href="JavaScript:addMonth();" title="下一月" Class="DayButton">&gt;</a>
  </td>
 </tr>
 <tr align="center" valign="middle"> 
  <Script LANGUAGE="JavaScript">  
   document.write("<TD class=DaySunTitle id=diary >" + days[0] + "</TD>"); 
   for (var intLoop = 1; intLoop < days.length-1;intLoop++) 
    document.write("<TD class=DayTitle id=diary>" + days[intLoop] + "</TD>"); 
    document.write("<TD class=DaySatTitle id=diary>" + days[intLoop] + "</TD>"); 
  </Script>
 </TR> 
</thead>
<TBODY border=1 cellspacing="0" cellpadding="0" ID="calendar" ALIGN=CENTER ONCLICK="getDiary()">
 <Script LANGUAGE="JavaScript">
  for (var intWeeks = 0; intWeeks < 6; intWeeks++)
  {
   document.write("<TR style='cursor:hand'>");
   for (var intDays = 0; intDays < days.length;intDays++) document.write("<TD class=CalendarTD onMouseover='buttonOver();' onMouseOut='buttonOut();'></TD>");
   document.write("</TR>");
  } 
 </Script>
</TBODY>
</TABLE>
<Script  LANGUAGE="JavaScript">
 Calendar();
</Script>
						</div>
                    </div>
				</div>
			</div>
            <div class="editor-description z cl w640 mgt40">
				<span class="editor-title-tag">记录文字</span>
				<div class="editor-desc-textarea z cl">
					<textarea class="editor-desc-text z cl"></textarea>
				</div>
			</div>
            {{modules.EditorUploadpic("支持JPG, GIF, PNG, BMP格式图片，单张大小不超过2M，最多8张。")}}
            {{modules.UeAddlable()}}
            <div class="editor-sub y cl mgt40 w640">
				<div class="z cl editor-post-opentype">
					<i></i>
					<span class="editor-sub-btn4 y cl">公开发布</span>
				</div>
				<input type="submit" value="OK!" class="editor-sub-btn1 y cl chs1">
				
			</div>
		</div>
	</div>
<script type="text/javascript">
  var is_bind=false;
$(document).ready(function(){
  select_item_on($(".ue-editor-btn a"),4,"active");
  var bar=new Array();
  bar[0];
  showSideBar(bar);
  var limit={size : 5 , num : 20};
  initflash(limit);
  $(".editor-pic-addbtn").bind("change",function(){
      
      $("#editor-form-pic").ajaxSubmit({
      dataType:"json",
      beforeSubmit:function(a,f,o){
          var file=$(".editor-pic-addbtn").val();
          if(!file){
            alert("请先选择要上传的文件");
            return false;
          }
      },
      success:function(result){
          if(result.status){
               //alert(result.path);
               var li="<li>\
							<img src='"+result.path+"' width='146' height='146' />\
							<a></a>					</li>";
               $(".editor-event-pic").show();
               $(li).appendTo(".editor-eve-picul1");
               $(".editor-eve-picul1 li").last().bind("click",function(){$(this).remove()});
          }
          else{
               alert(result.code);
          }
      }
   })
  })
  
  $(".editor-sub-btn1").click(function(){
      var time="";
      var year=$(".editor-event-time input").eq(0).val();
      var mon=$(".editor-event-time input").eq(1).val();
      var day=$(".editor-event-time input").eq(2).val();
      var hour=$(".editor-event-time input").eq(3).val();
      var min=$(".editor-event-time input").eq(4).val();
      time=year+":"+dateformat(mon)+":"+dateformat(day)+" "+dateformat(hour)+":"+dateformat(min)+":00";
      var place=$(".eve-add-1").val();
      var title=$(".editor-title-event input").val();
      var content=$(".editor-desc-text").val();
      var pic="";
      $(".editor-eve-picul1").children().each(function(){
          if(pic) pic+=";"+$(this).children("img").attr("src");
          else pic=$(this).children("img").attr("src");
      })
      alert(pic);
      //alert(type+time+place+lable+title+content);
      var settings={
             url:"/user/postevent/pubwelfare",
             type:"post",
             dataType:"json",
             data:{
                   "time":time,
                   "place":place,
                   "lable":lable,
                   "title":title,
                   "uploadpic":pic,
                   "content":content,
                   "_xsrf":$("input[name='_xsrf']").val()},
             error:function(jq,data,errorThrow){
                     alert(data);
                   },
             success:function(result){
                       if(result.status){
                              alert("发布成功");
                       }
                       else{
                              alert("发布失败"+result.code);
                       }
                     }
       }
      $.ajax(settings);
  })
})
</script>
<!--footer begain-->
{{modules.BlackFooter(cuser,tips)}}
<!--footer end-->
</body>
</html>
