<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>优意座标™专注于文创行业发展！</title>
<meta name="keywords" content="中国优秀文创人,文创人,机构,媒体人,优意座标,演员,模特,设计师,创意,平面,产品设计,视觉,建筑,空间设计" />
<meta name="description" content="为中国优秀文创人提供媒体助力，为媒体人提供新鲜文创业动态汇集，为中国文创机构提供合作空间。" />
<meta name="author" content="优意座标™|YOEZ.CC团队" />
<meta name="copyright" content="Copyright优意座标™" />
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/common.css">
<link rel="stylesheet" type="text/css" href="http://static.ueue.cc/www/css/editor.css">
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery-ui-personalized-1.6-min.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/common.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/editor.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/jquery.form-2.67.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/swfupload.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/swfupload.queue.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/fileprogress.js"></script>
<script type="text/javascript" src="http://static.ueue.cc/www/js/handlers.js"></script>
</head>
<!--header begain-->
{{modules.EditorHeader(cuser,cuser,url)}}
<!--header end-->
	<div class="wp640 mgt100 yz-edbd cl">
		<div class="w640 y cl">
			<div class="editor-title z cl mgt40">
				<input type="text" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value='最多24个汉字';" onFocus="if(this.value=='最多24个汉字')value='';" value="最多24个汉字"/>
                {{ xsrf_form_html() }}
				<span class="editor-title-tag">标题</span>
			</div>
			{{modules.EditorUploadpic("支持JPG, GIF, PNG, BMP格式图片，单张大小不超过10M，最多40张。")}}
			<div class="editor-description z cl w640 mgt40">
				<span class="editor-title-tag">描述</span>
				<div class="editor-desc-textarea z cl">
					<textarea class="editor-desc-text z cl"></textarea>
				</div>
			</div>
        	{{modules.UeAddlable()}}
			
			<div class="editor-sub y cl mgt40 w640">
				<div class="z cl editor-post-opentype">
					<i></i>
					<span class="editor-sub-btn4 y cl">公开发布</span>
				</div>
                {{modules.UeDocprotocol()}}
				<input type="submit" value="OK!" class="editor-sub-btn1 y cl chs1">
				
			</div>
		</div>
	</div>
<script type="text/javascript">

   var i=0;   
   var pos=new Array();
   var status=0;
   var src,des;
   var bpos,epos;
   var front=0;
   function picdelete (){
     var order=parseInt($(this).next().attr("order"));
     var last=parseInt($(".editor-pic-move").last().attr("order"));
     for(var k=order+1;k<=last;k++) $(".editor-pic-move").eq(k).attr("order",k-1);
     $(this).parent().remove();
     pos[i]=0;
     pos[i+1]=0;
     i-=2;
   }

$(document).ready(function(){

  select_item_on($(".ue-editor-btn a"),0,"active");
  var limit={size : 10 , num : 40};
  initflash(limit);
   $(".editor-sub-btn1").click(function(){
      var title=$(".editor-title input").val();
      var content="";
      var defval="- 描述 -";
      var imgsrc,txtval;
      $(".editor-pic-ul li").each(function(index){
	  imgsrc=$(this).find(".editor-pic-img img").attr("src");
	  txtval=$(this).find(".editor-pic-text textarea").val();
	  if(txtval == defval) txtval="";
          if(index) content+=";"+imgsrc+"&"+txtval;
          else content+=imgsrc+"&"+txtval;
      })
      var cover=$(".editor-pic-front").parents(".editor-pic-ul li").find(".editor-pic-img img").attr("src");
      var describe=$(".editor-desc-text").val();
      var sign=$(".editor-cc-on span").attr("snum");
      var mates="";
      $(".editor-team li").each(function(index){
          if(index) mates+=";"+$(this).find(".editor-team-id").val()+"&"+$(this).find(".editor-team-work").val();
          else mates+=$(this).find(".editor-team-id").val()+"&"+$(this).find(".editor-team-work").val();
      })
      alert(title+content+lable+cover+describe+sign);
      var settings={
             cuser,url:"/user/postwork/picture",
             type:"post",
             dataType:"json",
             data:{
                   "describe":describe,
                   "lable":lable,
                   "title":title,
                   "cover":cover,
                   "copysign":sign,
                   "teammates":mates,
                   "content":content,
                   "_xsrf":$("input[name='_xsrf']").val()},
             success:function(result){
                       if(result.status){
                              alert("发布成功");
                       }
                       else{
                              alert("发布失败"+result.code);
                       }
                     }
       }
      $.ajax(settings);
  })
})
</script>
<!--footer begain-->
{{modules.BlackFooter(cuser,tips)}}
<!--footer end-->
</body>
</html>
